<div class="branding__logo row">
    <div class="logo__1 col-lg-2 col-md-4 col-sm-6">
        <img src="" alt="logo__1">
    </div>
    <div class="logo__2 col-lg-2 col-md-4 col-sm-6">
        <img src="" alt="logo__2">
    </div>
    <div class="logo__3 col-lg-2 col-md-4 col-sm-6">
        <img src="" alt="logo__3">
    </div>
    <div class="logo__4 col-lg-2 col-md-4 col-sm-6">
        <img src="" alt="logo__4">
    </div>
    <div class="logo__5 col-lg-2 col-md-4 col-sm-6">
        <img src="" alt="logo__5">
    </div>
    <div class="logo__6 col-lg-2 col-md-4 col-sm-6">
        <img src="" alt="logo__6">
    </div>
</div>