<!-- footer section -->

<div class="footer__section">
  <div class="connect__section">
    <div class="company__name">
      <img src="image/png/footer/Oval.png" alt="company__name">
    </div>
    <!-- <div class="social__section">
      <ul>
        <li><a href=""><i class="fab fa-twitter"></i></a></li>
        <li><a href=""><i class="fab fa-facebook"></i></a></li>
        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div> -->
    <div class="copyright__section">
      <p> @ 2019 Oval</p>
    </div>
  </div>
  <div class="page__details-sections">
    <div class="page__details-items product">
      <h4>Product</h4>
      <ul>
        <li><a href="">Landingpage</a></li>
        <li><a href="">Features</a></li>
        <li><a href="">Documentation</a></li>
        <li><a href="">Referral Program</a></li>
        <li><a href="">Pricing</a></li>
      </ul>
    </div>
    <div class="page__details-items services">
      <h4>Services</h4>
      <ul>
        <li><a href="">Decumentation</a></li>
        <li><a href="">Design</a></li>
        <li><a href="">Themes</a></li>
        <li><a href="">lllustrations</a></li>
        <li><a href="">UI kit</a></li>
      </ul>
    </div>
    <div class="page__details-items company">
      <h4>Company</h4>
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">Terms</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Careers</a></li>
      </ul>
    </div>
    <div class="page__details-items more">
      <h4>More</h4>
      <ul>
        <li><a href="">Documentation</a></li>
        <li><a href="">License</a></li>
        <li><a href="">Changelog</a></li>
      </ul>
    </div>
  </div>
</div>