<!-- Footer Section --> 
<div class="footer-section footer {{footer_class}}">
  <div class="container">
    <div class="footer-top">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-xl-3 col-md-4 mb--40 mb-md--0">
          <div class="footer-newsletter text-center">
            <h3 class="newsletter-title">Oval</h3>
            <div class="col-sm-6 text-sm-right text-center">
            <ul class="social-icons">
              <li><a href=""><i class="fab fa-twitter"></i></a></li>
              <li><a href=""><i class="fab fa-facebook"></i></a></li>
              <li><a href=""><i class="fab fa-google-plus-square"></i></a></li>
              <li><a href=""><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
          </div>
          <div class="footer-contact-block text-center">
            <span class="label">@ 2021 oval</span>
          </div>
        </div>
        <div class="col-xl-7 col-lg-8 col-md-8 offset-xl-2 offset-lg-1">
          <div class="row">
            <div class="col-3 col-sm-3">
              <div class="single-footer mb--50 mb-lg--30">
                <h5 class="footer-title">Products</h5>
                <ul class="footer-list white">
                  <li><a href="service.html">Landing Page</a></li>
                  <li><a href="products.html">Features</a></li>
                  <li><a href="404.html">Documentation</a></li>
                  <li><a href="404.html">Referral  Program</a></li>
                  <li><a href="404.html">pricing</a></li>
                </ul>
              </div>
            </div>
            <div class="col-3 col-sm-3">
              <div class="single-footer mb--50 mb-lg--30">
                <h5 class="footer-title">Services</h5>
                <ul class="footer-list white">
                  <li><a href="about.html">Documentation</a></li>
                  <li><a href="faq.html">Design</a></li>
                  <li><a href="career-page.html">Themes</a></li>
                  <li><a href="career-page.html">Illustration</a></li>
                  <li><a href="career-page.html">UI Kit</a></li>
                </ul>
              </div>
            </div>
            <div class="col-3 col-sm-3">
              <div class="single-footer mb--50 mb-lg--30">
                <h5 class="footer-title">Company</h5>
                <ul class="footer-list white">
                  <li><a href="case-study.html">About</a></li>
                  <li><a href="blog-regular.html">Terms</a></li>
                  <li><a href="contact-2.html">Privacy Policy</a></li>
                  <li><a href="contact-2.html">Careers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-3 col-sm-3">
              <div class="single-footer mb--50 mb-lg--30">
                <h5 class="footer-title">More</h5>
                <ul class="footer-list white">
                  <li><a href="case-study.html">Documentation</a></li>
                  <li><a href="blog-regular.html">License</a></li>
                  <li><a href="contact-2.html">Changelog</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>