<!-- navigation 2 -->
<header class="header-2">
    <nav class="navbar-2">
        <a href="index.html" class="nav-logo">
            <img src="image/svg/navigation/Oval.svg" alt="">
        </a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="about.html" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a href="products.html" class="nav-link">Product</a>
            </li>
            <li class="nav-item">
                <a href="pricing.html" class="nav-link">Pricing</a>
            </li>
            <li class="nav-item">
                <a href="contact.html" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
                <a href="download.html" class="nav-link">Download</a>
            </li>
        </ul>
        <div class="nav-buttons">
            <button class="btn btn-trans">Login</button>
            <button class="btn btn-trans">Try for free</button>
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>