<ul class="navbar-nav mx-auto" id="mobile-menu">
  <li class="nav-item ">
    <a class="nav-link" href="about.html" role="button" aria-haspopup="true"
                    aria-expanded="false">About Us</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="products.html" role="button" aria-haspopup="true"
                    aria-expanded="false">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pricing.html" role="button" aria-haspopup="true"
                    aria-expanded="false">Pricing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contact.html" role="button" aria-haspopup="true"
                    aria-expanded="false">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="download.html">Download</a>
  </li>
</ul>