<div class="pricing__section text-center">
  <div class="pricing__section-title">
    <h2>Oval Plans and Pricing</h2>
  </div>
  <div class="pricing__section-body-text">
    <p>30-day free trial, cancel any time. No credit card required.</p>
  </div>

  <div class="custom-control custom-switch text-center">
    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
    <label class="custom-control-label" for="customSwitch1"></label>
  </div>

  <div class="pricing__section-card text-center row">
    <div class="card-1 price_card col-lg-3 col-md-5">
      <div class="card-heading-content">
        <div class="card-title">
          <h6>Starter</h6>
        </div>
        <div class="card-sub-text">
          <p>Up to 20 people</p>
        </div>
      </div>
      <div class="card-body">
        <div class="card-amount">
          <h4>$199</h4>
        </div>
        <div class="amount-per">
          Per month, billed annually in USD
        </div>
        <div class="contact-quote">
          Contact us for a Quote
        </div>
      </div>
      <div class="card-footer section-button">
        <button class="btn btn--red">Buy Now</button>
      </div>
    </div>
    <div class="card-2 price_card col-lg-3 col-md-5">
      <div class="card-heading-content">
        <div class="card-title">
          <h6>Growth</h6>
        </div>
        <div class="card-sub-text">
          <p>Up to 60 people</p>
        </div>
      </div>
      <div class="card-body">
        <div class="card-amount">
          <h4>$499</h4>
        </div>
        <div class="amount-per">
          Per month, billed annually in USD
        </div>
        <div class="contact-quote">
          Contact us for a Quote
        </div>
      </div>
      <div class="card-footer section-button">
        <button class="btn btn--red">Buy Now</button>
      </div>
    </div>
    <div class="card-3 price_card col-lg-3 col-md-5">
      <div class="card-heading-content">
        <div class="card-title">
          <h6>Midsize</h6>
        </div>
        <div class="card-sub-text">
          <p>Up to 100 people</p>
        </div>
      </div>
      <div class="card-body">
        <div class="card-amount">
          <h4>$899</h4>
        </div>
        <div class="amount-per">
          Per month, billed annually in USD
        </div>
        <div class="contact-quote">
          Contact us for a Quote
        </div>
      </div>
      <div class="card-footer section-button">
        <button class="btn btn--red">Buy Now</button>
      </div>
    </div>
    <div class="card-4 price_card col-lg-3 col-md-5">
      <div class="card-heading-content">
        <div class="card-title">
          <h6>Large</h6>
        </div>
        <div class="card-sub-text">
          <p>Up to 300 people</p>
        </div>
      </div>
      <div class="card-body">
        <div class="card-amount">
          <h4>$1,999</h4>
        </div>
        <div class="amount-per">
          Per month, billed annually in USD
        </div>
        <div class="contact-quote">
          Contact us for a Quote
        </div>
      </div>
      <div class="card-footer section-button">
        <button class="btn btn--red">Buy Now</button>
      </div>
    </div>
  </div>
</div>

<div class="price__footer text-center">
  <div class="enterprise__section row text-center">
    <div class="enterprise-title col-lg-3 col-md-3 col-sm-12">
      <h3>Enterprise</h3>
    </div>
    <div class="enterprise-body-text col-lg-6 col-md-6 col-sm-12">
      <p>For companies with over 1,000+ people</p>
    </div>
    <div class="enterprise-button col-lg-2 col-md-2 col-sm-12">
      <button class="btn btn--red">Contact Us</button>
    </div>
  </div>
  <div class="compare__price-section text-center">
    <p>See how an all-in-one Oval plan stacks up against
      the competition and saves you money</p>
    <h4>Compare Prices</h4>
  </div>
</div>