<div class="faq__section row text-center">
  <div class="col-lg-6 col-md-12 col-sm-12 content-section">
    <div class="content-title">
      <h2>Frequently Ask Question's</h2>
    </div>
    <div class="content-body">
      <p>Haven't found what you're looking for? <br>
        Try the oval Resourse center or contact us</p>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 question__section">
    <div class="question">
      <div class="question-1">
        <h4>How is the free Personal Plan different from the Personal Pro and Team plan?</h4>
      </div>
      <div class="answer_sec">
        <p>Upgrade to the personal pro Plan for unlimited guests, or the Team Plan
          If you collaborate with the same group of people automatically. You can
          also review remove inactive guests in setting & Members
        </p>
      </div>
    </div>
    <div class="question">
      <div class="question-2">
        <h4>What happens when I go over the guest limit on my personal Plan?</h4>
      </div>
      <div class="answer_sec">
        <p>Upgrade to the personal pro Plan for unlimited guests, or the Team Plan
          If you collaborate with the same group of people automatically. You can
          also review remove inactive guests in setting & Members
        </p>
      </div>
    </div>
    <div class="question">
      <div class="question-3">
        <h4>How do I try out the Team Plan for free?</h4>
      </div>
      <div class="answer_sec">
        <p>Upgrade to the personal pro Plan for unlimited guests, or the Team Plan
          If you collaborate with the same group of people automatically. You can
          also review remove inactive guests in setting & Members
        </p>
      </div>
    </div>
    <div class="question">
      <div class="question-4">
        <h4>Can I use Notion for free ?</h4>
      </div>
      <div class="answer_sec">
        <p>Upgrade to the personal pro Plan for unlimited guests, or the Team Plan
          If you collaborate with the same group of people automatically. You can
          also review remove inactive guests in setting & Members
        </p>
      </div>
    </div>
    <div class="question">
      <div class="question-5">
        <h4>Do you offer student discounts ?</h4>
      </div>
      <div class="answer_sec">
        <p>Upgrade to the personal pro Plan for unlimited guests, or the Team Plan
          If you collaborate with the same group of people automatically. You can
          also review remove inactive guests in setting & Members
        </p>
      </div>
    </div>
  </div>
</div>