<div class="testimonial__section text-center">
  <div class="testimonial__section-card">
    <div class="card card-1st">
      <div class="card-body">
        <p>“I received great customer service from the specialists who helped me. I would recommend to anyone  who wants
          great dashboard that has great quality”</p>
      </div>
      <div class="card-cus-intro card-footer">
        <div class="card-cus-intro-img ">
          <img src="image/png/home/cus-1.png" alt="Harold Tyler">
        </div>
        <div class="card-cus-intro-text ">
          <div class="card-cus-name">
            Harold Tyler
          </div>
          <div class="card-cus-position">
            Product Designer
          </div>
        </div>
      </div>
    </div>
    <div class="card card-2nd">
      <div class="card-body">
        <p>“It really boils down to this: that all life is interrelated. We are all caught in an inescapable network of
          mutuality, tied into a single garment of destiny”</p>
      </div>
      <div class="card-cus-intro card-footer">
        <div class="card-cus-intro-img ">
          <img src="image/png/home/cus-2.png" alt=" Julia Armstrong">
        </div>
        <div class="card-cus-intro-text ">
          <div class="card-cus-name">
            Julia Armstrong
          </div>
          <div class="card-cus-position">
            Application & Web Developer
          </div>
        </div>
      </div>
    </div>
    <div class="card card-3rd">
      <div class="card-body">
        <p>“Really excited to see the progress  that Fibery team are making on the  product. There's a lot of potential 
          with this one!”</p>
      </div>
      <div class="card-cus-intro card-footer">
        <div class="card-cus-intro-img">
          <img src="image/png/home/cus-3.png" alt=" Rosalie Morgan">
        </div>
        <div class="card-cus-intro-text">
          <div class="card-cus-name">
            Rosalie Morgan
          </div>
          <div class="card-cus-position">
            Co-founder of Square Space
          </div>
        </div>
      </div>
    </div>
  </div>
</div>