// spacings
.mb--30 {
  margin-bottom: 30px !important;
}

.mb-d--30 {
  margin-bottom: -30px !important;
}

// Section Spcaing

@media (min-width: 992px) {
  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important;
  }
}

.col-xs-6 {
  @include mobile {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.hero-img {
  margin: auto;
}

// home page
.hero__section {
  margin-top: 40px;
  margin-bottom: 48px;
  @include large-desktops-mid {
    width: 1450px;
  }
  .hero__section-header-title {
    width: 280px;
    height: 138px;
    margin: auto;
    @include mobile-lg {
      width: 672px;
      height: 120px;
    }
    @include large-desktops-mid {
      width: 836px;
      height: 148px;
    }
    h2 {
      font-family: $theme-base-font;
      font-weight: 400;
      letter-spacing: 0.56px;
      font-size: 34px;
      line-height: 46px;
      color: #000;
      @include mobile-lg {
        font-size: 48px;
        line-height: 59.52px;
      }
      @include large-desktops-mid {
        font-size: 60px;
        line-height: 74.4px;
      }
    }
  }
}

.hero__section-body-text {
  width: 280px;
  height: 46px;
  margin: auto;
  margin-top: 18px;
  margin-bottom: 26px;
  @include mobile-lg {
    margin-top: 24px;
    width: 507px;
    height: 56px;
  }
  p {
    font-family: $body-base-font;
    font-size: $font-size;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.10000000149011612px;
    color: #64626a;

    @include mobile-lg {
      font-size: $h7;
      line-height: 28px;
    }

    @include large-desktops-mid {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.hero__section-header-sub-title {
  margin-top: 32.57px;
  @include mobile-lg {
    width: 183px;
    height: 27px;
    margin: auto;
    margin-top: 65px;
  }
  @include large-desktops-mid {
    width: 201px;
  }
  h5 {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.22499999403953552px;
    text-align: center;
    @include mobile-lg {
      font-size: 22px;
    }
    @include large-desktops-mid {
      font-size: 24px;
    }
  }
}
.body-text {
  width: 280px;
  height: 66px;
  color: #64626a;
  margin: auto;
  @include mobile-lg {
    width: 567px;
    height: 56px;
    margin-top: 14px;
  }
  @include large-desktops-mid {
    width: 657px;
    height: 60px;
  }
  p {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.07777778059244156px;
    text-align: center;
    @include mobile-lg {
      font-size: 18px;
      line-height: 28px;
    }
    @include large-desktops-mid {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

#light__org {
  display: inline-block;
  height: 65px;
  background: linear-gradient(to bottom, #fff 40%, #ffdea7 0%);
}

#light__blue {
  display: inline-block;
  height: 65px;
  background: linear-gradient(to bottom, #fff 30%, #c2eed8 0%);
}

.header-img {
  img {
    width: 100%;
    height: auto;
  }

  @include large-desktops-mid {
    width: 90%;
  }
}

.build__section-banner {
  margin-top: 65px;
  display: flex;

  @include mobile-xs {
    flex-direction: column;
  }

  @include mobile-lg {
    .build__section-body-list {
      position: relative;
    }
  }

  @include desktops {
    width: 1450px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;

    .build__section-img {
      align-self: flex-end;
    }

    .build__section-body-list {
      position: relative;
      top: -276px;
      left: -311px;
    }
  }
  @include desktops {
    .build__section-body-list {
      position: relative;
      top: -320px;
      left: -405px;
    }
  }

  .build__section-body-list {
    display: flex;
    order: 2;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    margin: auto;

    ul {
      list-style: none;
      padding-left: 10px;
      border-left-width: 10px;
      margin-top: 30px;

      @include mobile-lg {
        display: flex;
        flex-direction: row;
        gap: 37px;
        margin-top: 49px;
      }

      @include desktops {
        display: flex;
        flex-direction: column;
        gap: 14px;
        justify-content: flex-start;
      }

      .list-item {
        cursor: pointer;
        margin: auto;
        margin-top: 12px;
        margin-bottom: 24px;
        width: 280px;
        height: 120px;

        @include mobile-lg {
          width: 176px;
          height: 150px;
          margin: 5px;
          border-bottom: none;
        }

        @include desktops {
          width: 430px;
          height: 100px;
          border-bottom: 1px solid #d1d0d6;
          text-align: left;
        }

        &:hover {
          height: 120px;
          width: 280px;
          border-bottom: 2px solid #fa6402;

          @include mobile-lg {
            width: 176px;
            height: 150px;
          }

          @include desktops {
            width: 430px;
            height: 100px;
          }
          &::before {
            content: ">";
            position: relative;
            font-weight: bolder;
            left: -20px;
            top: 20px;
          }
        }

        .list-item-title {
          h6 {
            font-family: $body-base-font;
            font-size: $h7;
            color: #000;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: left;
          }
        }

        .list-item-body {
          width: 266px;
          height: 48px;
          @include mobile-lg {
            width: 176px;
          }
          @include desktops {
            width: 372px;
            height: 50px;
          }
          p {
            font-family: $body-base-font;
            font-size: $font-size;
            color: #64626a;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;

            @include mobile-lg {
              font-size: $p;
            }
            @include desktops {
              font-size: 16px;
              height: 26px;
            }
          }
        }
      }
    }

    @include mobile-lg {
      flex-direction: column;
    }
  }

  .build__section-head-content {
    @include desktops {
      text-align: left;
      height: 50px;
      width: 600px;
      border-top-width: 50px;
      padding-top: 100px;
      padding-left: 100px;
    }
  }

  .build__section-title {
    width: 288px;
    margin: auto;
    @include mobile-lg {
      width: 695px;
      height: 60px;
    }
    @include desktops {
      width: 575px;
      height: 148px;
    }
    h2 {
      font-family: $theme-base-font;
      font-size: $h4;
      font-style: normal;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 0.591304361820221px;

      @include mobile-lg {
        font-size: $h2;
        line-height: 59.52px;
      }

      @include desktops {
        font-size: 60px;
        line-height: 74.4px;
      }
    }
  }
  .build__section-body-text {
    @include mobile-lg {
      width: 507px;
      margin-bottom: 40px;
    }
    @include desktops {
      width: 507px;
    }
    p {
      @include desktops {
        text-align: left;
      }
    }
  }
}

.role__section-body-list {
  list-style: none;
  margin: auto;
  margin-bottom: 32px;
  margin-top: 32px;

  @include mobile-lg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 28px;
    margin-bottom: 48px;
  }
  @include large-desktops-mid {
    width: 1450px;
    gap: 14px;
  }

  .role__section-list-item {
    cursor: pointer;
    margin-top: 12px;
    height: 120px;
    width: 280px;
    border-top: 2px solid #d1d0d6;
    padding-top: 10px;
    @include mobile-lg {
      width: 176px;
    }

    @include mobile-lg {
      height: 110px;
      margin: 5px;
      border-top: 1px solid #d1d0d6;
    }
    @include large-desktops-mid {
      width: 360px;
    }

    &:hover {
      border-top: 2px solid #fa6402;

      @include mobile-lg {
        height: 110px;
      }
      &::before {
        content: ">";
        position: relative;
        font-weight: bolder;
        left: -150px;
        top: 20px;
        @include mobile-lg {
          left: -200px;
        }
      }
    }

    .list-item-title {
      h6 {
        font-family: $body-base-font;
        font-size: $h7;
        color: #000;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
      }
    }

    .list-item-body {
      p {
        font-family: $body-base-font;
        font-size: $font-size;
        color: #64626a;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;

        @include mobile-lg {
          font-size: $p;
        }
      }
    }
  }
}

.role__section-banner {
  display: flex;
  flex-direction: column;
  @include mobile-lg {
    margin-top: 120px;
  }
  @include large-desktops-mid {
    margin: auto;
    width: 1450px;
    margin-top: 0px;
  }

  .role__section-title {
    width: 288px;
    height: 92px;
    margin: auto;
    margin-bottom: 12px;
    @include mobile-lg {
      width: 672px;
      height: 60px;
    }
    @include large-desktops-mid {
      width: 853px;
      height: 74px;
    }
    h2 {
      font-family: Libre Baskerville;
      font-size: 34px;
      font-style: normal;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 0.591304361820221px;
      text-align: center;
      @include mobile-lg {
        font-size: 48px;
        line-height: 59.52px;
      }
      @include large-desktops-mid {
        font-size: 60px;
        line-height: 74.4px;
      }
    }
  }
}

.testimonial__section-title {
  text-align: center;
}

.testimonial__section {
  margin-top: 20px;

  .testimonial__section-title {
    .icon {
      img {
        margin-bottom: 38px;
        position: relative;
        right: 38.6%;
        @include mobile-lg {
          width: 96px;
          height: 64px;
          right: 41.7%;
        }
        @include desktops {
          width: 96px;
          right: 61.7%;
          top: 103px;
        }
      }
    }
    width: 280px;
    height: 184px;
    margin: auto;
    margin-bottom: 100px;
    @include mobile-lg {
      width: 635px;
      height: 120px;
      margin-bottom: 152px;
    }
    @include desktops {
      width: 798px;
      height: 148px;
    }
    h2 {
      font-family: $theme-base-font;
      font-size: $h4;
      font-style: normal;
      font-weight: 400;
      line-height: 46px;
      text-align: left;
      @include mobile-lg {
        font-size: $h2;
        text-align: left;
        line-height: 59.52px;
        padding-left: 10px;
      }

      @include desktops {
        font-size: $h1;
        line-height: 74.4px;
      }
    }
  }
  .testimonial__section-card {
    display: inline-flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    @include mobile-lg {
      display: flex;
      flex-direction: row;
    }

    @include desktops {
      width: 1200px;
      margin: auto;
      gap: 30px;
    }

    .card {
      width: 280px;
      height: 320px;
      margin: auto;
      text-align: left;
      border: none;
      border-radius: 0px;
      border-right: 1px solid #d1d0d6;

      @include desktops {
        width: 360px;
      }
      .card-body {
        width: 280px;
        height: 140px;
        margin-bottom: 30px;
        @include desktops {
          width: 336px;
        }
        p {
          font-family: $body-base-font;
          font-size: $p;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: -0.20000000298023224px;
          color: #3b3a40;

          @include mobile-lg {
            font-size: $h7;
            line-height: 30px;
          }
        }
      }

      .card-footer {
        display: flex;
        flex-direction: row;
        padding: 30px;
        border-style: none;
        background: transparent;

        @include mobile-lg {
          .card-cus-intro-img {
            img {
              width: 36px;
              height: 36px;

              @include desktops {
                width: 60px;
                height: 60px;
              }
            }
          }
        }

        .card-cus-intro-text {
          align-self: center;
          padding-left: 30px;

          .card-cus-name {
            font-family: $theme-base-font;
            font-size: $font-size;
            font-style: normal;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0px;
            text-align: left;
            padding: 10px;
          }

          .card-cus-position {
            font-family: $body-base-font;
            font-size: $font-size;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0.10000000149011612px;
            text-align: left;
          }
        }
      }
    }
  }
}

.stats__section-banner {
  display: flex;
  flex-direction: column;

  @include mobile-lg {
    margin-left: 64px;
    margin-right: 64px;

    .brands {
      align-self: center !important;
      margin-left: 132px;
    }
  }

  @include desktops {
    margin-left: 249px;
    margin-right: 225px;

    .brands {
      align-self: flex-end !important;
      margin-left: 0px;
      margin-right: 216px;
    }
  }

  .flex-center-sm {
    @include mobile-xs {
      text-align: center;
      align-self: center;
    }

    @include desktops {
      text-align: left;
      align-self: flex-end;
    }
  }

  @include mobile-lg {
    .flex-end-lg {
      text-align: left;
      align-self: flex-end;
    }

    .flex-start-lg {
      text-align: left;
      align-self: flex-start;
    }
  }

  @include desktops {
    .flex-end-lg {
      text-align: left;
      align-self: flex-end;
    }

    .flex-start-lg {
      text-align: left;
      align-self: flex-start;
    }
  }
}

.stats__section-counting-intro-text {
  width: 280px;
  height: 84px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 76px;
  margin-bottom: 24px;

  @include mobile-lg {
    margin-top: 120px;
    margin-bottom: 78px;
    width: 500px;
    height: 64px;
  }

  @include desktops {
    width: 334px;
    height: 126px;
    margin-left: 0;
  }
}

.title {
  font-family: $body-base-font;
  font-size: $h7;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #8e8c95;

  @include mobile-lg {
    font-size: $h6;
    line-height: 32px;
    text-align: center;
  }

  @include desktops {
    font-size: $h6;
    line-height: 42px;
  }
}

.stats__section-counting-title {
  h1 {
    font-family: $theme-base-font;
    font-size: 64px !important;
    font-style: italic;
    font-weight: 400 !important;
    line-height: 79px !important;
    letter-spacing: 0px;
    text-align: center;
    color: #000;
    background: linear-gradient(to bottom, transparent 70%, #ffdea7 30%);

    @include mobile-lg {
      font-size: 72px !important;
      line-height: 89.28px !important;
    }

    @include desktops {
      font-size: 100px !important;
      line-height: 124px !important;
    }
  }
}

// price section
.pricing__section {
  margin-top: 72px;

  @include mobile-lg {
    margin-top: 120px;
  }

  .pricing__section-title {
    text-align: center;
    height: 92px;

    @include mobile-lg {
      height: 60px;
    }

    h2 {
      font-family: $theme-base-font;
      font-size: $h4;
      font-style: normal;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 0.591304361820221px;
      color: #000;

      @include mobile-lg {
        font-size: $h2;
        line-height: 59.52px;
      }
      @include desktops {
        font-size: $h1;
        line-height: 74.4px;
      }
    }
  }

  .pricing__section-body-text {
    margin: 0 auto;
    height: 44px;
    margin-top: 11px;
    width: 280px;

    @include mobile-lg {
      width: 450px;
      height: 26px;
      margin-top: 20px;
    }
    @include desktops {
      width: 505px;
      height: 28px;
    }

    p {
      font-family: $body-base-font;
      font-size: $font-size;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.20000000298023224px;
      color: #3b3a40;

      @include mobile-lg {
        font-size: $p;
        line-height: 26px;
      }
      @include desktops {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }

  .custom-control {
    margin-top: 40px;

    .custom-control-input:checked ~ .custom-control-label::before {
      background: #ff6846;
      border: 1px solid #ff6846;
      color: #fff;
    }

    .custom-control-label::before {
      left: -3.25rem;
      background: #ff6846;
      border: 1px solid #ff6846;
      color: #fff;
      width: 58px;
      height: 28px;
      border-radius: 28.5px;
    }

    .custom-control-label::after {
      background: #fff;
      width: 20px;
      height: 20px;
      border: 1px solid #fff;
      border-radius: 28.5px;
      top: calc(0.3rem + 3px);
      left: calc(-3rem + 1px);
    }

    &::before {
      content: "Annually Plans";
      position: relative;
      left: -60px;
      top: 5px;
      font-family: $body-base-font;
      font-size: $font-size;
      font-style: normal;
      font-weight: bold;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: left;
    }

    &::after {
      content: "Monthly Plans";
      position: relative;
      left: 12px;
      top: 5px;
      font-family: $body-base-font;
      font-size: $font-size;
      font-style: normal;
      font-weight: bold;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: left;
    }
  }

  .pricing__section-card {
    margin: auto;
    margin-top: 30px;

    @include mobile-lg {
      margin-top: 58px;
    }
    @include large-desktops {
      width: 1250px;
    }
    @include large-desktops-mid {
      width: 1450px;
    }

    .card-1 {
      border-radius: 6px 6px 0px 0px !important;
      @include mobile-lg {
        border-radius: 12px 0px 0px 0px !important;
        margin-left: 59px !important;
        margin-right: 0 !important;
      }
      @include desktops {
        margin-left: 150px !important;
        border-radius: 12px 0px 0px 12px !important;
      }
    }
    .card-3 {
      border-radius: 0 !important;
      @include mobile-lg {
        border-radius: 0px 0px 0px 12px !important;
        margin-left: 59px !important;
        margin-right: 0 !important;
      }
      @include desktops {
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-radius: 0px 0px 0px 0px !important;
      }
    }
    .card-2 {
      border-radius: 0 !important;
      @include mobile-lg {
        border-radius: 0px 12px 0px 0px !important;
        margin-right: 59px !important;
        margin-left: 0px !important;
      }
      @include desktops {
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-radius: 0px 0px 0px 0px !important;
      }
    }
    .card-4 {
      border-radius: 0px 0px 12px 12px !important;
      @include mobile-lg {
        border-radius: 0px 0px 12px 0px !important;
        margin-left: 0 !important;
        margin-right: 59px !important;
      }
      @include desktops {
        margin-left: 0 !important;
        border-radius: 0px 12px 12px 0px !important;
      }
    }
    .price_card {
      width: 280px;
      border: 1px solid #d1d0d6;
      border-radius: 6px 6px 0px 0px;
      margin: 0 auto;

      @include mobile-lg {
        width: 305px;
        height: 395px;
        border: 1px solid #d1d0d6;
      }
      @include desktops {
        max-width: 19.7% !important;
        height: 473px;
      }

      .card-heading-content {
        .card-title {
          h6 {
            margin-top: 30px;
            font-family: $body-base-font;
            font-size: $h7;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
            @include mobile-lg {
              font-size: $h6;
              line-height: 29.05px;
            }
          }
        }

        .card-sub-text {
          p {
            font-family: $body-base-font;
            font-size: $font-size;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            color: #64626a;
          }
        }
      }

      .card-body {
        .card-amount {
          margin-top: 8px;

          h4 {
            font-family: $theme-base-font;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: 0.6000000238418579px;
            color: #3b3a40;
          }
        }

        .amount-per {
          margin: 0 auto;
          width: 154px;
          font-family: $body-base-font;
          font-size: $font-size;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0px;
          margin-top: 8px;
          margin-bottom: 28px;
          color: #64626a;
        }

        .contact-quote {
          text-decoration: underline;
          font-family: $body-base-font;
          font-size: $font-size;
          font-style: normal;
          font-weight: 400;
          line-height: 17px;
          color: #3b3a40;
        }
      }

      .card-footer {
        background: transparent;
        border: none;
      }
    }
  }
}

.price__footer {
  .enterprise__section {
    margin: auto;
    width: 280px;
    height: 174px;
    background: #f5f6f9;
    border-radius: 12px;
    margin-top: 32px;
    padding: 24px;
    @include mobile-lg {
      margin-top: 48px;
      width: 668px;
      height: 96px;
      padding-top: 35px;
      padding-left: 30px;
      padding-right: 30px;
    }
    @include large-desktops-mid {
      width: 1140px;
      height: 112px;
      margin: auto;
      margin-top: 48px;
    }
    @include desktops {
      width: 1140px;
    }
    .enterprise-title {
      h3 {
        font-family: $body-base-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: $h6;
        letter-spacing: 0px;
        color: #3b3a40;
        @include mobile-lg {
          font-size: $h6;
          line-height: 26.22px;
        }
        @include large-desktops-mid {
          font-size: 24px;
          line-height: 29.05px;
        }
      }
    }

    .enterprise-body-text {
      p {
        font-family: $body-base-font;
        font-size: $font-size;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        color: #64626a;
        width: 162px;
        margin: 0 auto;
        margin-bottom: 16px;
        @include mobile-lg {
          width: 260px;
          padding-top: 5px;
          margin-left: 0;
        }
        @include large-desktops-mid {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    .enterprise-button {
      .btn--red {
        height: 36px;
        width: 124px;
        border-radius: 4px;
        margin: 0 auto;
        font-family: Inter;
        font-size: $font-size;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0.17499999701976776px;
        text-align: center;
        background: #ff6846;
        color: #fff;
      }
    }
  }

  .compare__price-section {
    margin: auto;
    margin-top: 32px;
    width: 280px;
    height: 72px;
    @include mobile-lg {
      width: 377px;
      height: 52px;
    }
    @include large-desktops-mid {
      width: 752px;
      height: 28px;
    }
    p {
      font-family: Inter;
      font-size: $font-size;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: center;
      color: #64626a;
      @include mobile-lg {
        font-size: 16px;
        line-height: 26px;
      }
      @include large-desktops-mid {
        font-size: 18px;
        line-height: 28px;
      }
    }

    h4 {
      font-family: Inter;
      font-size: $font-size;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: 0.17499999701976776px;
      text-align: center;
      text-decoration: underline;
      margin-top: 20px;
      @include mobile-lg {
        font-size: 14px;
        line-height: 16.94px;
      }
    }
  }
}

// product page
.hero__section-search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  @include mobile-lg {
    flex-direction: row;
  }
}

.informative__section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .user__saved-time {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile-lg {
      align-items: flex-end;
    }
  }

  .user__rec-email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects__cmplt {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile-lg {
      align-items: flex-start;
    }
  }
}

.focus-section {
  @include large-desktops-mid {
    margin-top: 200px;
  }
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  -webkit-transform: translateX(1.75rem) !important;
  transform: translateX(1.75rem) !important;
}
