/*=== Media Query ===*/

@mixin brk-point($mw) {
  @media (min-width: $mw) {
    @content;
  }
}
@mixin mobile-xs {
  @media (min-width: $screen-xxs) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $screen-xs) {
    @content;
  }
}

@mixin mobile-lg {
  @media (min-width: $screen-sm) {
    @content;
  }
}
@mixin mobile-lg-only {
  @media (min-width: $screen-sm) and (max-width: $screen-md) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $screen-md) {
    @content;
  }
}

@mixin desktops {
  @media (min-width: $screen-lg) {
    @content;
  }
}
@mixin till-desktop {
  @media (min-width: $screen-xxs) and (max-width: $screen-lg) {
    @content;
  }
}

@mixin large-desktops {
  @media (min-width: $screen-xl) {
    @content;
  }
}

@mixin large-desktops-mid {
  @media (min-width: $screen-xxl) {
    @content;
  }
}

@mixin extra-large-desktops {
  @media (min-width: $screen-xxxl) {
    @content;
  }
}

@mixin section-padding {
  padding: 50px 0;
  @include mobile-lg {
    padding: 120px 0;
  }
}

// lighter and dark theme
$dark-theme: "dark-theme";
$light-theme: "light-theme";

$bg-color: "bg-color";
$title-color: "title-color";
$dwn-bg-color: "dwn-bg-color";
$contact-bg-color: "contact-bg-color";
$body-text-color: "body-text-color";
$light-body-text: "light-body-text";
$theme-color: "theme-color";
$primary-highlighter-color: "primary-highlighter-color";
$secondary-highlighter-color: "secondary-highlighter-color";
$tertiary-highlighter-color: "tertiary-highlighter-color";
$enterprise-color: "enterprise-color";

$themes: (
  $light-theme: (
    $bg-color: #ffffff,
    $title-color: #000,
    $dwn-bg-color: #fff6f4,
    $contact-bg-color: #f9f9f9,
    $body-text-color: #64626a,
    $light-body-text: #b3b1b7,
    $theme-color: #ff6846,
    $primary-highlighter-color: #ffdea7,
    $secondary-highlighter-color: #c2eed8,
    $tertiary-highlighter-color: #c0eef5,
    $enterprise-color: #f5f6f9,
  ),
  $dark-theme: (
    $bg-color: rgba(0, 0, 0, 0.514),
    $title-color: #fff,
    $dwn-bg-color: #646160,
    $contact-bg-color: #f5d6d6,
    $body-text-color: #e1daf5,
    $light-body-text: #d5c8ee,
    $theme-color: #814c40,
    $primary-highlighter-color: #755620,
    $secondary-highlighter-color: #2c9460,
    $tertiary-highlighter-color: #296169,
    $enterprise-color: #f5f6f9,
  ),
);

@mixin themeProperty(
  $theme,
  $property,
  $color,
  $additionalPropertiesPositionIsFront,
  $additionalProperties
) {
  @if $additionalPropertiesPositionIsFront {
    #{$property}: unquote(
      $additionalProperties + " " + map-get($theme, $color)
    );
  } @else {
    #{$property}: unquote(
      map-get($theme, $color) + " " + $additionalProperties
    );
  }
}

@mixin theme(
  $property,
  $color,
  $additionalPropertiesPositionIsFront: false,
  $additionalProperties: ""
) {
  $light: map-get($themes, $light-theme);
  $dark: map-get($themes, $dark-theme);

  @include themeProperty(
    $light,
    $property,
    $color,
    $additionalPropertiesPositionIsFront,
    $additionalProperties
  );

  @media (prefers-color-scheme: dark) {
    @include themeProperty(
      $dark,
      $property,
      $color,
      $additionalPropertiesPositionIsFront,
      $additionalProperties
    );
  }
}
