    $bg-color: #ffffff;
    $title-color: #000;
    $dwn-bg-color: #fff6f4;
    $contact-bg-color: #f9f9f9;
    $body-text-color: #64626a;
    $light-body-text: #b3b1b7;
    $theme-color: #ff6846;
    $primary-highlighter-color: #ffdea7;
    $secondary-highlighter-color: #c2eed8;
    $tertiary-highlighter-color: #c0eef5;
    $enterprise-color: #f5f6f9;
    $theme-base-font: "Libre Baskerville", serif;
    $body-base-font: "Inter", sans-serif;

    $dark-bg-color: rgba(0, 0, 0, 0.514);
    $dark-title-color: #fff;
    $dark-dwn-bg-color: #646160;
    $dark-contact-bg-color: #f5d6d6;
    $dark-body-text-color: #e1daf5;
    $dark-light-body-text: #d5c8ee;
    $dark-theme-color: #814c40;
    $dark-primary-highlighter-color: #755620;
    $dark-secondary-highlighter-color: #2c9460;
    $dark-tertiary-highlighter-color: #296169;
    $dark-enterprise-color: #f5f6f9;
    $dark-theme-base-font: "Robota", serif;
    $dark-body-base-font: "Robota", sans-serif;

:root {
  --background-color: #{$bg-color};
  --title-color: #{$title-color};
  --dwn-bg-color: #{$dwn-bg-color};
  --contact-bg-color: #{ $contact-bg-color};
  --body-text-color: #{$body-text-color};
  --light-body-text: #{$light-body-text};
  --theme-color: #{$theme-color};
  --primary-highlighter-color: #{$primary-highlighter-color};
  --secondary-highlighter-color: #{$secondary-highlighter-color};
  --tertiary-highlighter-color: #{$tertiary-highlighter-color};
  --enterprise-color: #{$enterprise-color};
  --theme-base-font: #{$theme-base-font};
  --body-base-font: #{$body-base-font};
}

html[data-theme="light"] {
  --background-color: #fff;
  --title-color: #000;
  --dwn-bg-color: #fff6f4;
  --contact-bg-color: #f9f9f9;
  --body-text-color: #64626a;
  --light-body-text: #b3b1b7;
  --theme-color: #ff6846;
  --primary-highlighter-color: #ffdea7;
  --secondary-highlighter-color: #c2eed8;
  --tertiary-highlighter-color: #c0eef5;
  --enterprise-color: #f5f6f9;
  --theme-base-font: "Libre Baskerville", serif;
  --body-base-font: "Inter", sans-serif;
}

html[data-theme="dark"] {
  --background-color: #{$dark-bg-color};
  --title-color: #{$dark-title-color};
  --dwn-bg-color: #{$dark-dwn-bg-color};
  --contact-bg-color: #{$dark-contact-bg-color};
  --body-text-color: #{$dark-body-text-color};
  --light-body-text: #{$dark-light-body-text};
  --theme-color: #{$dark-theme-color};
  --primary-highlighter-color: #{$dark-primary-highlighter-color};
  --secondary-highlighter-color: #{$dark-secondary-highlighter-color};
  --tertiary-highlighter-color: #{$dark-tertiary-highlighter-color};
  --enterprise-color: #{$dark-enterprise-color};
  --theme-base-font: #{$dark-theme-base-font};
  --body-base-font: #{$dark-body-base-font};
}




// Screen Width
$screen-xxs: 20em;
$screen-xs: 30em;
$screen-sm: 36em;
$screen-md: 48em;
$screen-lg: 62em;
$screen-xl: 75em;
$screen-xxl: 85.375em;
$screen-xxxl: 100em;

// different size of fonts
$h1: 57.33px;
$h2: 47.78px;
$h3: 39.81px;
$h4: 33.18px;
$h5: 27.65px;
$h6: 23.04px;
$h7: 19.2px;
$p: 16px;
$font-size: 13.33px;

.bg-whisper {
  background: #f7f7fb;
}
