{% set header_class = "absolute-header" %}
{% extends "template.njk" %}

{% block main %}
<div class="about-page">

  {% include "_header.njk" %}

  

  
  <!-- Footer section -->
  {% include "_footer.njk" %}
  </div>
{% endblock %}