{% extends "template.njk" %}

{% block main %}
{% include "_header2.njk" %}

<section class="contact_page">
  <!-- header section -->
  <div class="contact-page ">
    <div class="header__section">
      <div class="sub_header-title">
        <h6>CONTACT US</h6>
      </div>
      <div class="header-title">
        <h5>Let’s talk.</h5>
      </div>
      <div class="header-body">
        <p>If you have any questions about the subscription or are not sure which plan is right for you, contact our
          team
          and let’s schedule a call.</p>
      </div>
      <div class="header-button">
        <button class="btn_light-orange"><span class="bold">Call us</span> <br> (669) 984-9439</button>
        <button class="btn_light-orange"><span class="bold">Email us</span> <br> help@oval.com</button>
      </div>
    </div>

    <!-- contact form -->
    <div class="contact-form_sec">
      <div class="form_sec-title">
        <h6>Contact Us</h6>
      </div>
      <div class="form_sec-body">
        <p>If you have any question or issue’s to use our product. Fill the form below. We’ll help you.</p>
      </div>
      <form>
        <div class="form-row">
          <div class="form-group">
            <label for="name">Your name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Your email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputState">Choose topic</label>
          <br>
          <select id="inputState" class="form-control">
            <option selected>select one topic</option>
            <option>...</option>
          </select>

          <label for="exampleFormControlTextarea1">Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

          <button type="submit" class="btn-sumbit">Contact Us</button>
        </div>
      </form>
    </div>
    <div class="contact-graph-img">
      <img src="image/svg/contact/contact-graph.svg" alt="">
    </div>

    <!-- top branding -->
    <div class="branding__section">
      <div class="branding_list">
        <div class="brand item-1">
          <img src="image/svg/about-us/Google.svg" alt="Google">
        </div>
        <div class="brand item-2">
          <img src="image/svg/about-us/Amazon.svg" alt="amazon">
        </div>
        <div class="brand item-3">
          <img src="image/svg/about-us/Intel.svg" alt="INTEL">
        </div>
        <div class="brand item-4">
          <img src="image/svg/about-us/an.svg" alt="atlassian">
        </div>
      </div>
    </div>

  </div>

  <!-- topic section -->
  <div class="topic__section">
    <div class="topic-title">
      <h4>Most asked Topics</h4>
    </div>
    <div class="topic-items">
      <div class="item">
        <div class="icon">
          <img src="image/svg/contact/Pixel.svg" alt="pixel">
        </div>
        <div class="icon-title">
          <h6>Workspace Guides</h6>
        </div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="image/svg/contact/Share - 2.svg" alt="share">
        </div>
        <div class="icon-title">
          <h6>Sharing & collaboration</h6>
        </div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="image/svg/contact/image.svg" alt="image">
        </div>
        <div class="icon-title">
          <h6>Media & Files</h6>
        </div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="image/svg/contact/Pen.svg" alt="pen">
        </div>
        <div class="icon-title">
          <h6>Editing Pages</h6>
        </div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="image/svg/contact/Warning.svg" alt="warning">
        </div>
        <div class="icon-title">
          <h6>Security & Privacy</h6>
        </div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="image/svg/contact/User Alt.svg" alt="user">
        </div>
        <div class="icon-title">
          <h6>Accounting & Settings</h6>
        </div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="image/svg/contact/Magic Wand.svg" alt="magic">
        </div>
        <div class="icon-title">
          <h6>Tips & Trick</h6>
        </div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="image/svg/contact/Layers.svg" alt="layers">
        </div>
        <div class="icon-title">
          <h6>Database Issue</h6>
        </div>
      </div>
      <div class="item">
        <div class="icon">
          <img src="image/svg/contact/Message.svg" alt="message">
        </div>
        <div class="icon-title">
          <h6>Talk to us</h6>
        </div>
      </div>
    </div>
  </div>

  <!-- office address -->
  <div class="office__section">
    <div class="office__section-title">
      <h3>Our offices</h3>
    </div>
    <div class="office__section-body">
      <p>Amazing cities, totally tricked out offices. Explore the world of Oval.</p>
    </div>
    <div class="card-items">
      <div class="card mb-3">
        <img src="image/png/contact/office__team.png" class="card-img-top" alt="office-team">
        <div class="card-body">
          <h5 class="card-title">Vancouver Office</h5>
          <p class="card-text">1085 Homer St. Vancouver BC,
            CanadaV6B 2X5</p>
          <span class="orange-highlight">Open in Maps</span>
        </div>
      </div>
      <div class="card mb-3">
        <img src="image/png/contact/office__address.png" class="card-img-top" alt="address-map">
        <div class="card-body">
          <h5 class="card-title">San Fransisco</h5>
          <p class="card-text">1085 Homer St. Vancouver BC,
            CanadaV6B 2X5</p>
          <span class="orange-highlight">Open in Maps</span>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Footer section -->
{% include "_footer.njk" %}
{% endblock %}