{% extends "template.njk" %}
{% block main %}
{% include "_header.njk" %}

<!-- download section -->
<div class="header__section download_section">
  <div class="header-title">
    <h5>Oval for Desktop</h5>
  </div>
  <div class="header-body">
    <p>Sign in to multiple workspaces, get desktop notifications, and launch right from
      your dock.</p>
  </div>
  <div class="header-button">
    <button class="btn_light-orange">
      <img src="image/svg/download/window.svg" alt="window">
      for windows
    </button>
    <button class="btn_light-orange">
      <img src="image/svg/download/apple.svg" alt="apple">
      for MacOs
    </button>
  </div>
  <div class="left-side-graph-img">
    <img src="image/svg/download/left-side-graph.svg" alt="">
  </div>
  <div class="header-img">
    <img src="image/png/download/download-header.png" alt="download">
  </div>
  <div class="right-side-graph-img">
    <img src="image/svg/download/right-side-graph.svg" alt="">
  </div>
</div>

<!-- feature section -->
<div class="feature-list">
  <div class="list-item">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
      <label class="form-check-label" for="flexRadioDefault1">
        featured 30-day free trial
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Connected with all your teams
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
      <label class="form-check-label" for="flexRadioDefault3">
        No credit card required
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
      <label class="form-check-label" for="flexRadioDefault4">
        Cancel anytime you want
      </label>
    </div>
  </div>
</div>

<!-- guiding section -->
<div class="guiding-section">
  <div class="guiding-title">
    <h4>What Should I do next?</h4>
  </div>
  <div class="guiding-items">
    <div class="item i-1">
      <div class="icon">
        <img src="image/svg/download/✌🏻.svg" alt="victory">
      </div>
      <div class="item-title">
        <h6>A Beginner’s Guide</h6>
      </div>
      <div class="item-body">
        <div class="item-text">
          <p>Need a hand getting started with Oval? Our extensive documentation contains everything you need to know to
            begin working on your first project.</p>
        </div>
        <div class="item-footer-text">
          Watch Tutorial
        </div>
      </div>
    </div>
    <div class="item i-2">
      <div class="icon">
        <img src="image/svg/download/💡.svg" alt="bulb">
      </div>
      <div class="item-title">
        <h6>Do even more Template</h6>
      </div>
      <div class="item-body">
        <div class="item-text">
          <p>Maybe you are confuse How to start documenting your task and also anything. With Oval template, you can
            download our free example template for our work needs.</p>
        </div>
        <div class="item-footer-text">
          View Inside Oval
        </div>
      </div>
    </div>
    <div class="item i-3">
      <div class="icon">
        <img src="image/svg/download/✌🏻.svg" alt="">
      </div>
      <div class="item-title">
        <h5>Install an Extension</h5>
      </div>
      <div class="item-body">
        <div class="item-text">
          <p>For optimize your Oval software, you can download our extension to save resource from Internet. Available
            for Chrome only</p>
        </div>
        <div class="item-footer-text">
          Install Extension
        </div>
      </div>
    </div>
    <div class="item i-4">
      <div class="icon">
        <img src="image/svg/download/⛅️.svg" alt="cloud">
      </div>
      <div class="item-title">
        <h6>Do even more Template</h6>
      </div>
      <div class="item-body">
        <div class="item-text">
          <p>Maybe you want use for Free for first. It’s just have limited space. So, we recommend you to connect with
            your Cloud. Dropbox, G-Drive or iCloud.</p>
        </div>
        <div class="item-footer-text">
          Choose your Cloud
        </div>
      </div>
    </div>
  </div>
</div>

<!-- alternative download option -->

<div class="alternative-download__section">
  <div class="download__section">
    <div class="download__content">
      <div class="download-title">
        <h3>Don’t want to Download?</h3>
      </div>
      <div class="download-body-text">
        <p>We give an option for you if you wanna try our product without download it. Try a web app.</p>
      </div>
    </div>
    <div class="download-button">
      <input type="email" placeholder="Enter your work email">
      <button class="btn btn--org">Try Web app</button>
    </div>
  </div>
</div>

{% include "_single-faqs.njk"%}}

{% set footer_class = "bg-black-squeeze border-whisper-top" %}
{% include "_footer.njk" %}
{% endblock %}