{% extends "template.njk" %}
{% block main %}
{% include "_header.njk" %}

<!-- download section -->
<div class="header__section">
  <div class="header-title">
    <h5>Oval for Desktop</h5>
  </div>
  <div class="header-body">
    <p>Sign in to multiple workspaces, get desktop notifications, and launch right from
      your dock.</p>
  </div>
  <div class="header-button">
    <button class="btn_light-orange">
      <img src="image/svg/download/window.svg" alt="window">
      for windows
    </button>
    <button class="btn_light-orange">
      <img src="image/svg/download/apple.svg" alt="apple">
      for MacOs
    </button>
  </div>
  <div class="header-img">
    <img src="image/png/download/download-header.png" alt="download">
  </div>
</div>

<!-- feature section -->
<div class="feature-list">
  <ul class="list-item">
    <li><span class="circle"></span> featured 30-day free trial</li>
    <li>Connected with all your teams</li>
    <li>No credit card required</li>
    <li>Cancel anytime you want</li>
  </ul>
</div>

<!-- guiding section -->
<div class="guiding-section">
  <div class="guiding-title">
    <h4>What Should I do next?</h4>
  </div>
  <div class="guiding-items">
    <div class="item i-1">
      <div class="icon">
        <img src="image/svg/download/✌🏻.svg" alt="victory">
      </div>
      <div class="item-title">
        <h6>A Beginner’s Guide</h6>
      </div>
      <div class="item-body">
        <div class="item-text">
          <p>Need a hand getting started with Oval? Our extensive documentation contains everything you need to know to
            begin working on your first project.</p>
        </div>
        <div class="item-footer-text">
          Watch Tutorial
        </div>
      </div>
    </div>
    <div class="item i-2">
      <div class="icon">
        <img src="image/svg/download/💡.svg" alt="bulb">
      </div>
      <div class="item-title">
        <h6>Do even more Template</h6>
      </div>
      <div class="item-body">
        <div class="item-text">
          <p>Maybe you are confuse How to start documenting your task and also anything. With Oval template, you can
            download our free example template for our work needs.</p>
        </div>
        <div class="item-footer-text">
          View Inside Oval
        </div>
      </div>
    </div>
    <div class="item i-3">
      <div class="icon">
        <img src="" alt="">
      </div>
      <div class="item-title">
        <h5>Install an Extension</h5>
      </div>
      <div class="item-body">
        <div class="item-text">
          <p>For optimize your Oval software, you can download our extension to save resource from Internet. Available
            for Chrome only</p>
        </div>
        <div class="item-footer-text">
          Install Extension
        </div>
      </div>
    </div>
    <div class="item i-4">
      <div class="icon">
        <img src="image/svg/download/⛅️.svg" alt="cloud">
      </div>
      <div class="item-title">
        <h6>Do even more Template</h6>
      </div>
      <div class="item-body">
        <div class="item-text">
          <p>Maybe you want use for Free for first. It’s just have limited space. So, we recommend you to connect with
            your Cloud. Dropbox, G-Drive or iCloud.</p>
        </div>
        <div class="item-footer-text">
          Choose your Cloud
        </div>
      </div>
    </div>
  </div>
</div>

<!-- alternative download option -->

<div class="alternative-download__section">
  <div class="download__section row text-center">
    <div class="download-title col-lg-3 col-md-3 col-sm-12">
      <h3>Don’t want to Download?</h3>
    </div>
    <div class="download-body-text col-lg-6 col-md-6 col-sm-12">
      <p>We give an option for you if you wanna try our product without download it. Try a web app.</p>
    </div>
    <div class="download-button col-lg-2 col-md-2 col-sm-12">
      <input type="email" placeholder="Enter your work email">
      <button class="btn btn--red">Try Web app</button>
    </div>
  </div>
</div>

{% include "_single-faqs.njk"%}}

{% set footer_class = "bg-black-squeeze border-whisper-top" %}
{% include "_footer.njk" %}
{% endblock %}