{% set page_class = index %}
{% extends "template.njk" %}
{% block main %}
  {% include "_header.njk" %}
  <!-- hero section -->
  <div class="hero__section col-lg-12 col-md-12 col-sm-12 col-12 justify-content-md-center text-center">
    <div class="hero__section-header-title">
      <h2>Simpler tool that freedom your work way.</h2>
    </div>
    <div class="hero__section-body-text">
      <p>Build your own workspace to replace isolated tools and bring everyone together.</p>
    </div>
    <div class="hero__section-button">
      <button>Try for free</button>
      <button>play button</button>
    </div>
    <div class="hero__section-header-img">
      <img src="" alt="hero__section-header-img">
    </div>
    <div class="hero__section-header-sub-title">
      <h5>Tools erect walls</h5>
    </div>
    <div class="hero__section-body-sub-text">
      <p>Collaboration is a struggle, when everybody uses a different app. We have the solution for that.</p>
    </div>
  </div>

  <!-- build section-banner -->
  <div class="build__section-banner row">
    <div class="build__section-content col-lg-6 col-md-12">
      <div class="build__section-title">
        <h2>Build your  own workspace.</h2>
      </div>
      <div class="build__section-body-text">
        <p>It will take a couple of hours, but will save your company weeks in the long term.</p>
      </div>
      <div class="build__section-body-list">
        <ul class="list">
          <li class="list-item">
            <div class="list-item-title">
              <h6>Create</h6>
            </div>
            <div class="list-item-body">
              <p>Easy-to-use apps for each team with no code</p>
            </div>
          </li>
          <li class="list-item">
            <div class="list-item-title">
              <h6>Organize</h6>
            </div>
            <div class="list-item-body">
              <p>Work into custom hierarchies, fields and formulas</p>
            </div>
          </li>
          <li class="list-item">
            <div class="list-item-title">
              <h6>Visualize</h6>
            </div>
            <div class="list-item-body">
              <p>Workflows with Tables, Boards, Timelines, Charts & more.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="build__section-img col-lg-6 col-md-12">
      <img src="" alt="build__section-img">
    </div>
  </div>

  <!-- roles section -->
  <div class="role__section-banner">
    <div class="role__section-title">
      <h2>Bring all the roles together.</h2>
    </div>
    <div class="role__section-body-text">
      <p>We believe in autonomous teams that own their work and their piece of workspace.</p>
    </div>
    <div class="role__section-body-list">
      <div class="role__section-list-item">
        <div class="list-item-title">
          <h6>Align</h6>
        </div>
        <div class="list-item-body">
          <p>ideas and knowledge with real-time collaborative wiki.</p>
        </div>
      </div>
      <div class="role__section-list-item">
        <div class="list-item-title">
          <h6>Link</h6>
        </div>
        <div class="list-item-body">
          <p>Visually by building roadmaps that are always up-to-date.</p>
        </div>
      </div>
      <div class="role__section-list-item">
        <div class="list-item-title">
          <h6>Decentralize</h6>
        </div>
        <div class="list-item-body">
          <p>Smoothly when everybody knows what's important.</p>
        </div>
      </div>
    </div>
    <div class="role__section-img"></div>
  </div>

  <!--   focus section banner   -->
  <div class="focus__section-banner">
    <div class="focus__section-content">
      <div class="focus__section-title">
        <h2>Focus on meaningful work.</h2>
      </div>
      <div class="focus__section-body-text">
        <p>Your workspace naturally maps the way you work, so there is nothing to be distracted by.</p>
      </div>
      <div class="focus__section-body-list">
        <ul class="list">
          <li class="list-item">
            <div class="list-item-title">
              <h6>Capture</h6>
            </div>
            <div class="list-item-body">
              <p>Easy-to-use apps for each team with no code </p>
            </div>
          </li>
          <li class="list-item">
            <div class="list-item-title">
              <h6>Plan</h6>
            </div>
            <div class="list-item-body">
              <p>Work into custom hierarchies, fields and formulas</p>
            </div>
          </li>
          <li class="list-item">
            <div class="list-item-title">
              <h6>Execute</h6>
            </div>
            <div class="list-item-body">
              <p>Workflows with Tables, Boards, Timelines, Charts & more.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="focus__section-img"></div>
  </div>

  <!-- testimonial section -->
  <div class="testimonial__section">
    <div class="testimonial__section-title">
      <h2>Loved by so many people around the world</h2>
    </div>
    <div class="testimonial__section-card">
      <div class="card-1st">
        <div class="card-body">
          <p>“I received great customer service from the specialists who helped me. I would recommend to anyone who wants great dashboard that has great quality”</p>
        </div>
        <div class="card-cus-intro">
          <div class="card-cus-intro-img"></div>
          <div class="card-cus-intro-text">
            <div class="card-cus-name">
                            Harold Tyler
                        </div>
            <div class="card-cus-position">
                            Product Designer
                        </div>
          </div>
        </div>
      </div>
      <div class="card-2nd">
        <div class="card-body">
          <p>“It really boils down to this: that all life is interrelated. We are all caught in an inescapable network of mutuality, tied into a single garment of destiny”</p>
        </div>
        <div class="card-cus-intro">
          <div class="card-cus-intro-img"></div>
          <div class="card-cus-intro-text">
            <div class="card-cus-name">
                            Julia Armstrong
                        </div>
            <div class="card-cus-position">
                            Application & Web Developer
                        </div>
          </div>
        </div>
      </div>
      <div class="card-3rd">
        <div class="card-body">
          <p>“Really excited to see the progress that Fibery team are making on the product. There's a lot of potential with this one!”</p>
        </div>
        <div class="card-cus-intro">
          <div class="card-cus-intro-img"></div>
          <div class="card-cus-intro-text">
            <div class="card-cus-name">
                            Rosalie Morgan
                        </div>
            <div class="card-cus-position">
                            Co-founder of Square Space
                        </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- stats section -->
  <div class="stats__section">
    <div class="stats__section-banner">
      <div class="stats__section-counting-intro-text">
        <p>Businesses all over the world trust Oval to build their own workflow</p>
      </div>
      <div class="stats__section-counting-title business-years">
        <h1>10 years</h1>
      </div>
      <div class="stats__section-counting-body-text">
        <p>In business</p>
      </div>
      <div class="stats__section-counting-title customers">
        <h1>75,000+</h1>
      </div>
      <div class="stats__section-counting-body-text">
        <p>Customers</p>
      </div>
      <div class="stats__section-counting-title partners">
        <h1>1,092</h1>
      </div>
      <div class="stats__section-counting-body-text">
        <p>Partner company</p>
      </div>
      <div class="stats__section-counting-title brands">
        <h1>39+</h1>
      </div>
      <div class="stats__section-counting-body-text">
        <p>Branch office</p>
      </div>
    </div>
  </div>

  <!-- pricing section -->
  <div class="pricing__section">
    <div class="pricing__section-title">
      <h2>Oval Plans and Pricing</h2>
    </div>
    <div class="pricing__section-body-text">
      <p>30-day free trial, cancel any time. No credit card required.</p>
    </div>
    <div class="pricing__section-offer">
            Save 13%
        </div>
    <div class="pricing__section-button">
      <div class="month-text">
                Monthly Plans
            </div>
      <div class="circle_button"></div>
      <div class="yearly-text">
                Annual Plans
            </div>
    </div>
    <div class="pricing__section-card">
      <div class="card-1">
        <div class="card-title">
          <div class="card-title">
            <h6>Starter</h6>
          </div>
          <div class="card-sub-text">
            <p>Up to 20 people</p>
          </div>
        </div>
        <div class="card-body">
          <div class="card-amount">
            <h4>$199</h4>
          </div>
          <div class="amount-par-month">
                        Per month in USD
                    </div>
          <div class="amount-par-yearly">
                        billed annually in USD
                    </div>
          <div class="contact-quote">
                        Contact us for a Quote 
                    </div>
        </div>
        <div class="card-footer">
          <button>Buy Now</button>
        </div>
      </div>
      <div class="card-2">
        <div class="card-title">
          <div class="card-title">
            <h6>Growth</h6>
          </div>
          <div class="card-sub-text">
            <p>Up to 60 people</p>
          </div>
        </div>
        <div class="card-body">
          <div class="card-amount">
            <h4>$499</h4>
          </div>
          <div class="amount-par-month">
                        Per month in USD
                    </div>
          <div class="amount-par-yearly">
                        billed annually in USD
                    </div>
          <div class="contact-quote">
                        Contact us for a Quote 
                    </div>
        </div>
        <div class="card-footer">
          <button>Buy Now</button>
        </div>
      </div>
      <div class="card-3">
        <div class="card-title">
          <div class="card-title">
            <h6>Midsize</h6>
          </div>
          <div class="card-sub-text">
            <p>Up to 100 people</p>
          </div>
        </div>
        <div class="card-body">
          <div class="card-amount">
            <h4>$899</h4>
          </div>
          <div class="amount-par-month">
                        Per month in USD
                    </div>
          <div class="amount-par-yearly">
                        billed annually in USD
                    </div>
          <div class="contact-quote">
                        Contact us for a Quote 
                    </div>
        </div>
        <div class="card-footer">
          <button>Buy Now</button>
        </div>
      </div>
      <div class="card-4">
        <div class="card-title">
          <div class="card-title">
            <h6>Large</h6>
          </div>
          <div class="card-sub-text">
            <p>Up to 300 people</p>
          </div>
        </div>
        <div class="card-body">
          <div class="card-amount">
            <h4>$1,999</h4>
          </div>
          <div class="amount-par-month">
                        Per month in USD
                    </div>
          <div class="amount-par-yearly">
                        billed annually in USD
                    </div>
          <div class="contact-quote">
                        Contact us for a Quote 
                    </div>
        </div>
        <div class="card-footer">
          <button>Buy Now</button>
        </div>
      </div>
    </div>
  </div>

  {% include "_footer.njk" %}
{% endblock %}