{% set page_class = index %}
{% extends "template.njk" %}
{% block main %}
{% include "_header.njk" %}
<!-- hero section -->
<div class="hero__section col-lg-12 col-md-12 col-sm-12 col-12 justify-content-md-center text-center">
  <div class="hero__section-header-title text-center">
    <h2>Simpler tool that <span id="light__org"> freedom </span> your work way.</h2>
  </div>
  <div class="hero__section-body-text">
    <p>Build your own workspace to replace isolated tools and bring everyone together.</p>
  </div>
  <div class="hero__section-button">
    <button class="btn btn--red">Try for free</button>
    <button class="btn btn--secondary">
      <img src="image/png/home/Play.png" alt="">
    </button>
  </div>
  <div class="header-img">
    <img src="image/png/home/hero-img-desktop-1.png" alt="">
  </div>
  <div class="hero__section-header-sub-title">
    <h5>Tools erect walls</h5>
  </div>
  <div class="hero__section-body-text">
    <p>Collaboration is a struggle, when everybody uses a different app. <br> We have the solution for that.</p>
  </div>
</div>

<!-- build section-banner -->
<div class="build__section-banner text-center">
  <div class="build__section-head-content">
    <div class="build__section-title">
      <h2>Build your <span id="light__blue"> own </span> workspace.</h2>
    </div>
    <div class="hero__section-body-text build__section-body-text">
      <p>It will take a couple of hours, but will save your company weeks in the long term.</p>
    </div>
  </div>
  <div class="build__section-body-list">
    <ul>
      <li class="list-item">
        <div class="list-item-title">
          <h6>Create</h6>
        </div>
        <div class="list-item-body">
          <p>Easy-to-use apps for each team with no code</p>
        </div>
      </li>
      <li class="list-item">
        <div class="list-item-title">
          <h6>Organize</h6>
        </div>
        <div class="list-item-body">
          <p>Work into custom hierarchies, fields and formulas</p>
        </div>
      </li>
      <li class="list-item">
        <div class="list-item-title">
          <h6>Visualize</h6>
        </div>
        <div class="list-item-body">
          <p>Workflows with Tables, Boards, Timelines, Charts & more.</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="header-img build__section-img col-lg-6 col-md-12">
    <img src="image/png/home/build-section-img-1.png" alt="build__section-img">
  </div>
</div>

<!-- roles section -->
<div class="role__section-banner hero__section">
  <div class="role__section-title hero__section-header-title">
    <h2>Bring all the roles <span id="light__blue"> together </span>.</h2>
  </div>
  <div class="role__section-body-text hero__section-body-text">
    <p>We believe in autonomous teams that own their <br> work and their piece of workspace.</p>
  </div>
  <div class="role__section-body-list text-center">
    <div class="role__section-list-item">
      <div class="list-item-title">
        <h6>Align</h6>
      </div>
      <div class="list-item-body">
        <p>ideas and knowledge with <br> real-time collaborative wiki.</p>
      </div>
    </div>
    <div class="role__section-list-item">
      <div class="list-item-title">
        <h6>Link</h6>
      </div>
      <div class="list-item-body">
        <p>Visually by building roadmaps <br> that are always up-to-date.</p>
      </div>
    </div>
    <div class="role__section-list-item">
      <div class="list-item-title">
        <h6>Decentralize</h6>
      </div>
      <div class="list-item-body">
        <p>Smoothly when everybody <br> knows what's important.</p>
      </div>
    </div>
  </div>
  <div class="header-img ">
    <img src="image/png/home/together-img-1.png" alt="">
  </div>
</div>

<!--   focus section banner   -->
<div class="build__section-banner text-center">
  <div class="build__section-head-content">
    <div class="build__section-title">
      <h2>Focus on <span id="light__org"> meaningfull </span> work.</h2>
    </div>
    <div class="hero__section-body-text build__section-body-text">
      <p>Your workspace naturally maps the way you work, so there is nothing to be distracted by.</p>
    </div>
  </div>
  <div class="build__section-body-list">
    <ul>
      <li class="list-item">
        <div class="list-item-title">
          <h6>Capture</h6>
        </div>
        <div class="list-item-body">
          <p>Easy-to-use apps for each team with no code </p>
        </div>
      </li>
      <li class="list-item">
        <div class="list-item-title">
          <h6>Plan</h6>
        </div>
        <div class="list-item-body">
          <p>Work into custom hierarchies, fields and formulas</p>
        </div>
      </li>
      <li class="list-item">
        <div class="list-item-title">
          <h6>Execute</h6>
        </div>
        <div class="list-item-body">
          <p>Workflows with Tables, Boards, Timelines, Charts & more.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="header-img build__section-img col-lg-6 col-md-12">
    <img src="image/png/home/focus-img-1.png" alt="role_img">
  </div>
</div>

<!-- testimonial section -->
<div class="testimonial__section text-center">
  <div class="testimonial__section-title">
    <h2> <span>&ldquo;</span> <br>
      Loved by so  many people <br> around the world</h2>
  </div>
  <div class="testimonial__section-card">
    <div class="card card-1st">
      <div class="card-body">
        <p>“I received great customer service <br> from the specialists who helped <br> me. I would recommend to anyone <br> who wants
          great dashboard that <br> has great quality”</p>
      </div>
      <div class="card-cus-intro card-footer">
        <div class="card-cus-intro-img ">
          <img src="image/png/home/cus-1.png" alt="Harold Tyler">
        </div>
        <div class="card-cus-intro-text ">
          <div class="card-cus-name">
            Harold Tyler
          </div>
          <div class="card-cus-position">
            Product Designer
          </div>
        </div>
      </div>
    </div>
    <div class="card card-2nd">
      <div class="card-body">
        <p>“It really boils down to this: that all <br> life is interrelated. We are all <br> caught in an inescapable network <br> of
          mutuality, tied into a single <br> garment of destiny”</p>
      </div>
      <div class="card-cus-intro card-footer">
        <div class="card-cus-intro-img ">
          <img src="image/png/home/cus-2.png" alt=" Julia Armstrong">
        </div>
        <div class="card-cus-intro-text ">
          <div class="card-cus-name">
            Julia Armstrong
          </div>
          <div class="card-cus-position">
            Application & Web Developer
          </div>
        </div>
      </div>
    </div>
    <div class="card card-3rd">
      <div class="card-body">
        <p>“Really excited to see the progress <br> that Fibery team are making on the <br> product. There's a lot of potential <br>
          with this one!”</p>
      </div>
      <div class="card-cus-intro card-footer">
        <div class="card-cus-intro-img">
          <img src="image/png/home/cus-3.png" alt=" Rosalie Morgan">
        </div>
        <div class="card-cus-intro-text">
          <div class="card-cus-name">
            Rosalie Morgan
          </div>
          <div class="card-cus-position">
            Co-founder of Square Space
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- stats section -->
<div class="stats__section text-center">
  <div class="stats__section-banner">
    <div class="stats__section-counting-intro-text   flex-center-sm title">
      <p>Businesses all over the world trust Oval to build their own workflow</p>
    </div>
    <div class="buisness-year flex-start-lg flex-center-sm">
      <div class="stats__section-counting-title">
        <h1>10 years</h1>
      </div>
      <div class="stats__section-counting-body-text title">
        <p>In business</p>
      </div>
    </div>
    <div class="customers flex-end-lg flex-center-sm">
      <div class="stats__section-counting-title">
        <h1>75,000+</h1>
      </div>
      <div class="stats__section-counting-body-text flex-center-sm title">
        <p>Customers</p>
      </div>
    </div>
    <div class="partners flex-start-lg flex-center-sm">
      <div class="stats__section-counting-title">
        <h1>1,092</h1>
      </div>
      <div class="stats__section-counting-body-text title">
        <p>Partner company</p>
      </div>
    </div>
    <div class="brands  flex-center-sm">
      <div class="stats__section-counting-title">
        <h1>39+</h1>
      </div>
      <div class="stats__section-counting-body-text title">
        <p>Branch office</p>
      </div>
    </div>

  </div>
</div>

<div class="price-Section text-center">
  <!-- pricing section -->
{% include "_pricingSection.njk" %}
</div>

<!-- footer section -->
{% include "_footer.njk" %}

{% endblock %}