{% extends "template.njk" %}

{% block main %}
<div class="thank-page">

{% include "_header.njk" %}
  <main class="omga-thank-page-main">
    <div class="container">
      <div class="contents">
        <div class="content-icon">
            <img src=".image/png/thumbs-shape.png" alt="">
        </div>
        <div class="content-text">
            <h1 class="title">Thank You</h1>
            <p>Create custom landing pages with Oval that converts <br class="d-none d-md-block"> more visitors than any website. </p>
        </div>
        <div class="content-btn">
            <a href="" class="btn btn-primary--outlined">Go back to home</a>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer section -->
  {% include "_footer.njk" %}
</div>
{% endblock %}