.section-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 42px;
  @include  large-desktops-mid {
    gap: 24px;
  }
  .btn--red {
    width: 127px;
    height: 44px;
    font-weight: 700;
    color: #fff;
    background: #ff6846;
    border-radius: 8px;
    @include mobile-lg {
      width: 180px;
      height: 52px;
    }
    @include  large-desktops-mid {
      width: 200px;
      height: 60px;
    }
  }
  .btn--secondary {
    width: 44px;
    height: 44px;
    font-weight: 700;
    border: 1px solid #8e8c95;
    border-radius: 8px;
    @include mobile-lg {
      width: 52px;
      height: 52px;
    }
    @include  large-desktops-mid {
      width: 60px;
      height: 60px;
    }
  }
}

.btn {
  font-weight: 700;
}
