
ul {
  li {
    list-style: none;
    a {
      font-family: $body-base-font;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      color: #8e8c95;
      @include mobile-lg {
        font-size: 14px;
        line-height: 34px;
      }
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
.footer__section {
  margin-top: 60%;
  width: 100%;
  background: $title-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mobile-lg {
    margin-top: 35%;
    flex-direction: row;
  }
  @include mobile-lg {
    margin-top: 25%;
    gap: 120px;
  }
  @include  large-desktops{
    margin-top: 15%;
    gap: 262px;
     
  }
  .connect__section {
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 17px 36%;
    @include mobile-lg {
      order: 0;
      flex-direction: column;
      gap: 40px;
      justify-content: center;
    }
    .company__name {
      margin-left: 43px;
      order: 0;
      @include mobile-lg {
        margin-top: 30px;
        margin-left: 38px;
        justify-content: center;
      }
      @include desktops{
        margin-left: 41px;
      }
      img {
        width: 49px;
        height: 14px;
        @include mobile-lg {
          width: 81px;
          height: 24px;
        }
      }
    }
    .social__section {
      order: 2;
      .icons{
        display: flex;
        flex-direction: row;
        gap: 12px;
      }
      @include desktops{
        order: 1;
      }
    }
    .copyright__section {
      order: 1;
      align-self: center;
      padding-top: 9px;
      P {
        font-family: $body-base-font;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0px;
        text-align: center;
        color: $body-text-color;
      }
    }
  }
  .page__details-sections {
    order: 0;
    margin-top: 48px;
    gap: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include mobile-lg {
      order: 1;
      gap: 30px;
    }
    .page__details-items {
      h4 {
        display: none;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: left;
        color: #fff;
        @include mobile-lg {
          display: block;
          margin-left: 41px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
