.header {
  background: transparent;
  padding-top: 32px;
  height: 100px;
  @include mobile-lg {
    padding-left: 84px;
  }
  @include  large-desktops {
    padding-left: 150px;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 36px;
  justify-content: center;
  align-items: center;
}
.nav-link {
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  color: #3b3a40;
}

.nav-link:hover {
  font-weight: 600;
  color: $title-color;
}

.nav-logo {
  width: 81px;
  height: 24px;
}

.btn-transparent {
  width: 105px;
  height: 38px;
  border: none;
  color: $title-color;
  background: transparent;
}
.btn-white {
  width: 105px;
  height: 38px;
  border: 1px solid #8e8c95;
  border-radius: 4px;
  color: $title-color;
  background: #ffffff;
}
.nav-menu-btn{
  display: block;
  @include  large-desktops{
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 9999;
  }

  .nav-buttons {
    display: none;
    button {
      width: 140px;
      height: 60px;
      background-color: #8e8c95;
      color: #fff;
      font-weight: 700;
      border-radius: 8px;
      @include mobile-lg {
        width: 150px;
      }
      &:hover {
        background-color: $theme-color;
        color: #fff;
      }
    }
  }
  .nav-item {
    a {
      font-size: 25px;
    }
  }
  .navbar {
    justify-content: flex-start;
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-menu {
    justify-content: flex-start;
    gap: 70px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
