// hero section css

.hero__section {
  .hero__content {
    @include desktops {
      margin-bottom: 100px;
      margin: auto;
    }
    .hero__title {
      h2 {
        font-family: $theme-base-font;
        font-size: $h4;
        font-style: normal;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0.591304361820221px;
        text-align: center;
        width: 280px;
        height: 92px;
        margin: auto;
        @include tablet {
          font-size: $h2;
          line-height: 59.52px;
          width: 361px;
          height: 120px;
        }
        @include desktops {
          margin-left: 30%;
          font-size: $h1;
          line-height: 74.4px;
          width: 442px;
          text-align: left;
        }
      }
    }
    .hero__body {
      margin-top: 16px;
      @include tablet {
        margin-top: 24px;
      }
      p {
        font-family: $body-base-font;
        font-size: $font-size;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: center;
        width: 270px;
        height: 115px;
        color: #64626a;
        margin: auto;
        @include tablet {
          width: 519px;
          height: 112px;
          font-size: 18px;
          line-height: 28px;
        }
        @include desktops {
          width: 517px;
          height: 120px;
          font-size: 20px;
          line-height: 30px;
          width: 517px;
          text-align: left;
          margin-left: 0;
        }
      }
    }
  }
  .hero__img {
    margin-top: 16px;
    @include tablet {
      margin-top: 56px;
    }
    @include desktops {
      margin-left: 0;
      width: 100%;
    }
  }
  .hero__quotes {
    .hero__quotes-title {
      margin-top: 18px;
      @include tablet {
        margin-top: 25px;
      }
      @include desktops {
        margin-top: 70px;
      }
      h6 {
        font-family: $body-base-font;
        font-size: $p;
        font-style: normal;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0.20000000298023224px;
        text-align: center;
        @include tablet {
          font-size: $h7;
          line-height: 24.2px;
        }
      }
    }
    .hero__quotes-body {
      width: 270px;
      height: 110px;
      margin: auto;
      margin-top: 16px;
      @include tablet {
        width: 657px;
        margin-top: 10px;
        height: 78px;
      }
      @include desktops {
        margin-bottom: 170px;
      }
      p {
        font-family: $body-base-font;
        font-size: $font-size;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.08749999850988388px;
        text-align: center;
        @include tablet {
          font-size: $p;
          line-height: 26px;
        }
      }
    }
  }
}

// neighbors section
.neighbors__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f9f9f9;
  margin-top: 76px;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include desktops {
    justify-content: center;
  }
  .neighbors__section-img-1 {
    order: 1;
    width: 264px;
    margin: auto;
    margin-top: 38px;
    @include tablet {
      order: 0;
      width: 262px;
      margin-left: 60px;
      margin-top: 66px;
    }
    @include desktops {
      width: 390px;
      margin-top: 140px;
      margin-left: 300px;
      align-self: flex-start;
    }
  }
  .neighbors__section-content {
    order: 0;
    @include tablet {
      order: 1;
      position: relative;
      left: -91px;
      top: -31px;
      align-self: flex-start;
    }
    @include desktops {
      left: -24px;
      top: 87px;
    }
    .content-title {
      width: 280px;
      margin: auto;
      margin-top: 36px;
      @include tablet {
        margin-top: 56px;
        width: 282px;
        height: 120px;
      }
      @include desktops {
        width: 349px;
        margin-left: 60px;
      }
      h3 {
        font-family: $theme-base-font;
        font-size: $h4;
        font-style: normal;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0.591304361820221px;
        text-align: center;
        @include tablet {
          text-align: left;
          font-size: $h2;
          line-height: 59.52px;
        }
        @include desktops {
          font-size: $h1;
          line-height: 74.4px;
        }
      }
    }
    .content-body {
      width: 280px;
      height: 46px;
      margin: auto;
      color: #64626a;
      margin-top: 12px;
      @include tablet {
        width: 312px;
        margin-left: 48px;
      }
      @include desktops {
        margin-top: 40px;
        margin-left: 60px;
      }
      p {
        font-family: $body-base-font;
        font-size: $font-size;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: center;
        @include tablet {
          text-align: left;
          font-size: $p;
          line-height: 26px;
        }
      }
    }
    .content-red-title {
      width: 185px;
      margin: auto;
      margin-top: 20px;
      color: #ff6846;
      @include tablet {
        width: 200px;
        margin-top: 28px;
        margin-left: 48px;
      }
      @include desktops {
        margin-top: 32px;
        margin-left: 60px;
      }
      h6 {
        font-family: $body-base-font;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: center;
        @include tablet {
          text-align: left;
          font-size: $p;
          line-height: 19.36px;
        }
      }
    }
  }
  .neighbors__section-img-2 {
    order: 2;
    width: 264px;
    margin: auto;
    margin-top: 24px;
    @include tablet {
      margin-left: 123px;
      width: 199px;
    }
    @include desktops {
      position: relative;
      width: 293px;
      height: 390px;
      right: 860px;
      top: 559px;
    }
  }
  .neighbors__section-img-3 {
    order: 3;
    width: 264px;
    margin: auto;
    margin-top: 24px;
    @include tablet {
      width: 320px;
      position: relative;
      left: -58px;
      top: -47px;
      align-self: flex-start;
    }
    @include desktops {
      width: 496px;
      height: 423px;
      left: 208px;
      top: -95px;
    }
  }
}
