// hero section css

.hero__section {
  margin: auto;
  @include large-desktops {
    margin-top: 136px;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px;
    @include large-desktops {
      flex-direction: row;
      justify-content: center;
      gap: 113px;
      margin-bottom: 100px;
    }
    .hero__title {
      h2 {
        font-family: $theme-base-font;
        font-size: $h4;
        font-style: normal;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0.591304361820221px;
        text-align: center;
        width: 280px;
        height: 92px;
        margin: auto;
        color: $title-color;
        @include mobile-lg {
          font-size: $h2;
          line-height: 59.52px;
          width: 361px;
          height: 120px;
        }
        @include large-desktops {
          font-size: $h1;
          line-height: 74.4px;
          width: 442px;
          text-align: left;
        }
      }
    }
    .hero__body {
      margin-top: 16px;
      @include mobile-lg {
        margin-top: 24px;
      }
      p {
        font-family: $body-base-font;
        font-size: $font-size;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: center;
        width: 270px;
        height: 115px;
        color: $body-text-color;
        margin: auto;
        @include mobile-lg {
          width: 519px;
          height: 112px;
          font-size: 18px;
          line-height: 28px;
        }
        @include large-desktops {
          width: 517px;
          height: 120px;
          font-size: 20px;
          line-height: 30px;
          width: 517px;
          text-align: left;
          margin-left: 0;
        }
      }
    }
  }
  .about_hero-img {
    margin-top: 16px;
    img {
      width: 320px;
      @include mobile-lg {
        width: 768px;
      }
      @include large-desktops {
        width: 100%;
      }
      @include large-desktops-mid {
        width: 1440px;
      }
    }
  }
  .hero__quotes {
    .hero__quotes-title {
      margin-top: 30px;
      color: $title-color;
      @include mobile-lg {
        margin-top: 25px;
      }
      @include large-desktops {
        margin-top: 70px;
      }
      h6 {
        font-family: $body-base-font;
        font-size: $p;
        font-style: normal;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0.20000000298023224px;
        text-align: center;
        @include mobile-lg {
          font-size: $h7;
          line-height: 24.2px;
        }
      }
    }
    .hero__quotes-body {
      width: 270px;
      height: 110px;
      margin: auto;
      margin-top: 25px;
      @include mobile-lg {
        width: 657px;
        margin-top: 10px;
        height: 78px;
      }
      @include large-desktops {
        margin-bottom: 170px;
      }
      p {
        font-family: $body-base-font;
        font-size: $font-size;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.08749999850988388px;
        text-align: center;
        @include mobile-lg {
          font-size: $p;
          line-height: 26px;
        }
      }
    }
  }
}

// neighbors section
.neighbors__section {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: linear-gradient(to bottom, $contact-bg-color 7 0%, #fff 30%);
  margin-top: 76px;
  @include mobile-lg {
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, $contact-bg-color 65%, #fff 14%);
  }
  @include large-desktops {
    justify-content: center;
  }
  @include large-desktops-mid {
    width: 1582px;
    background: linear-gradient(to bottom, $contact-bg-color 86%, #fff 14%);
  }

  .neigh-img {
    img {
      width: 100%;
    }
  }
  .neighbors__section-img-1 {
    order: 1;
    width: 264px;
    margin: auto;
    margin-top: 38px;
    @include mobile-lg {
      order: 0;
      width: 262px;
      margin-left: 60px;
      margin-top: 66px;
    }
    @include large-desktops {
      width: 390px;
      margin-top: 140px;
      margin-left: 300px;
      align-self: flex-start;
    }
    @include large-desktops-mid {
      margin-top: 145px;
    }
  }
  .neighbors__section-content {
    order: 0;
    @include mobile-lg {
      order: 1;
      position: relative;
      left: -91px;
      top: -2px;
      align-self: flex-start;
    }
    @include large-desktops {
      left: -24px;
      top: 87px;
    }
    @include large-desktops-mid {
      left: -30.8%;
      top: 80px;
    }
    .content-title {
      width: 280px;
      height: 92px;
      margin: auto;
      margin-top: 36px;
      color: $title-color;
      @include mobile-lg {
        margin-top: 56px;
        width: 282px;
        height: 120px;
      }
      @include large-desktops {
        width: 349px;
        margin-left: 60px;
      }
      h3 {
        font-family: $theme-base-font;
        font-size: $h4;
        font-style: normal;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0.591304361820221px;
        text-align: center;
        @include mobile-lg {
          text-align: left;
          font-size: $h2;
          line-height: 59.52px;
        }
        @include large-desktops {
          font-size: $h1;
          line-height: 74.4px;
        }
      }
    }
    .content-body {
      width: 280px;
      height: 46px;
      margin: auto;
      color: $body-text-color;
      margin-top: 12px;
      @include mobile-lg {
        width: 312px;
        margin-left: 48px;
      }
      @include large-desktops {
        margin-top: 40px;
        margin-left: 60px;
      }
      p {
        font-family: $body-base-font;
        font-size: $font-size;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: center;
        @include mobile-lg {
          text-align: left;
          font-size: $p;
          line-height: 26px;
        }
      }
    }
  }
  .neighbors__section-img-2 {
    order: 2;
    width: 264px;
    margin: auto;
    margin-top: 24px;
    @include mobile-lg {
      margin-left: 123px;
      width: 199px;
      margin-top: 50px;
    }
    @include large-desktops {
      position: relative;
      width: 293px;
      height: 390px;
      right: 860px;
      top: 559px;
    }
    @include large-desktops-mid {
      right: -17.4%;
      top: 30px;
    }
  }
  .neighbors__section-img-3 {
    position: relative;
    order: 3;
    z-index: 120;
    order: 3;
    width: 264px;
    margin: auto;
    margin-top: 24px;
    @include mobile-lg {
      width: 320px;
      left: -58px;
      top: -35px;
      align-self: flex-start;
    }
    @include large-desktops {
      width: 496px;
      height: 423px;
      left: 208px;
      top: -95px;
    }
    @include large-desktops-mid {
      left: -8%;
    }
  }
  .graph-img {
    order: 4;
    position: relative;
    left: 5px;
    top: -145px;
    @include mobile-lg {
      left: 31.54%;
      top: -227.63px;
    }
    @include large-desktops {
      right: 13.12%;
      top: 250.46%;
    }
    @include large-desktops-mid {
      right: -50.88%;
      top: 110.46%;
    }
    img {
      width: 207.35px;
      height: 219.62px;
      @include large-desktops {
        width: 321px;
        height: 340px;
      }
    }
  }
}

// leading section
.leading__sections {
  margin: auto;
  margin-top: 200px;
  @include mobile-lg {
    margin-top: 114px;
  }
  @include large-desktops-mid {
    margin-top: 180px;
    width: 1582px;
  }
  .content-title {
    width: 280px;
    height: 168px;
    margin: auto;
    @include mobile-lg {
      width: 434px;
      height: 108px;
    }
    @include large-desktops {
      width: 645px;
      height: 140px;
    }
    h3 {
      font-family: $theme-base-font;
      font-size: $h5;
      font-style: normal;
      font-weight: 400;
      line-height: 42px;
      letter-spacing: 0.52173912525177px;
      text-align: center;
      @include mobile-lg {
        font-size: 32px;
        line-height: 54px;
      }
      @include large-desktops {
        font-size: 48px;
        line-height: 70px;
      }
    }
  }
  .content-red-title {
    @include mobile-lg {
      font-size: $p;
      margin: auto;
      margin-top: 24px;
      margin-bottom: 65px;
    }
  }
  .branding_list {
    @include large-desktops {
      width: 1180px;
      margin: auto;
    }
  }
}

// common section

.content-red-title {
  width: 185px;
  margin: auto;
  margin-top: 20px;
  color: $theme-color;
  @include mobile-lg {
    width: 200px;
    margin-top: 28px;
    margin-left: 48px;
  }
  @include large-desktops {
    margin-top: 32px;
    margin-left: 60px;
  }

  h6 {
    font-family: $body-base-font;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    @include mobile-lg {
      text-align: left;
      font-size: $p;
      line-height: 19.36px;
    }
    &::after {
      content: "\203A";
      position: relative;
      left: 10px;
    }
  }
}

// team section

.team__section {
  margin: auto;
  margin-top: 95px;
  @include large-desktops {
    margin-top: 150px;
  }
  @include large-desktops-mid {
    margin-top: 180px;
    width: 1582px;
  }
  .content-title {
    width: 280px;
    height: 92px;
    margin: auto;
    @include mobile-lg {
      width: 380px;
      height: 54px;
    }
    @include large-desktops {
      width: 486px;
      height: 64px;
    }
    h3 {
      font-family: $theme-base-font;
      font-size: $h4;
      font-style: normal;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 0.591304361820221px;
      text-align: center;
      @include mobile-lg {
        font-size: $h3;
        line-height: 54px;
      }
      @include large-desktops {
        font-size: 52px;
        line-height: 64.48px;
      }
    }
  }
  .content-body {
    width: 280px;
    height: 46px;
    margin: auto;
    margin-top: 12px;
    @include mobile-lg {
      width: 432px;
      height: 52px;
    }
    @include large-desktops {
      margin-top: 24px;
      width: 588px;
      height: 60px;
    }
    p {
      font-family: $body-base-font;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0px;
      text-align: center;
      color: $body-text-color;
      @include mobile-lg {
        font-size: $p;
        line-height: 26px;
      }
      @include large-desktops {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  .team__section-members {
    margin-top: 48px;
    @include mobile-lg {
      margin-top: 67.26px;
    }
    @include large-desktops {
      margin-top: 86.61px;
      margin-left: 150px;
      margin-right: 150px;
    }
    .mem {
      .mem-img {
        img {
          width: 76.03px;
          height: 76.03px;
          @include mobile-lg {
            width: 94.22px;
            height: 94.22px;
          }
          @include large-desktops {
            width: 144px;
            height: 144px;
          }
        }
      }
      .mem-name {
        margin-top: 17.31px;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0.26249998807907104px;
        text-align: center;
        @include mobile-lg {
          margin-top: 25.17px;
          font-size: 14px;
          line-height: 16.94px;
        }
        @include large-desktops {
          margin-top: 40px;
          font-size: 20px;
          line-height: 24.2px;
        }
      }
      .mem-post {
        margin-top: 6;
        margin-bottom: 49.66px;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0px;
        text-align: center;
        color: #8e8c95;
        @include mobile-lg {
          margin-top: 6.56px;
          font-size: 12px;
        }
        @include large-desktops {
          margin-top: 12px;
          font-size: 18px;
          line-height: 21.78px;
        }
      }
    }
  }
}

// values section

.values__section {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 82px;
  @include mobile-lg {
    gap: 36px;
    flex-direction: row;
  }
  @include large-desktops {
    width: 1250px;
    flex-direction: row;
    justify-content: center;
    gap: 207px;
  }
  .values__section-left {
    @include mobile-lg {
      margin-left: 28px;
    }
    .content-title {
      width: 280px;
      height: 46px;
      margin: auto;
      @include mobile-lg {
        width: 278px;
        height: 54px;
      }
      @include large-desktops {
        width: 390px;
        height: 68px;
      }
      h3 {
        font-family: Libre Baskerville;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0.591304361820221px;
        text-align: center;
        @include mobile-lg {
          font-size: 36px;
          line-height: 14.52px;
          text-align: left;
        }
        @include large-desktops {
          font-size: 48px;
          line-height: 68px;
        }
      }
    }
    .content-body {
      width: 280px;
      height: 69px;
      margin: auto;
      margin-top: 12px;
      @include large-desktops {
        margin-top: 24px;
        width: 390px;
        height: 92px;
      }
      p {
        font-family: Inter;
        font-size: $font-size;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: center;
        color: $body-text-color;
        @include mobile-lg {
          font-size: $p;
          line-height: 26px;
          text-align: left;
        }
        @include large-desktops {
          font-size: 20px;
          line-height: 32px;
        }
      }
    }
  }
  .valuse__section-right {
    margin-top: 28px;
    @include mobile-lg {
      margin-top: 0;
      margin-right: 25px;
      display: flex;
      flex-wrap: wrap;
    }
    @include large-desktops {
      justify-content: flex-start;
    }
    .value_box {
      margin: auto;
      width: 260px;
      height: 48px;
      background: $enterprise-color;
      border-radius: 42.5px;
      margin-bottom: 15px;
      @include mobile-lg {
        width: auto;
      }
      .icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 10px;
        @include mobile-lg {
          flex-direction: row;
          flex-wrap: wrap;
        }
        @include large-desktops {
          margin-right: 30px;
        }
        img {
          width: 18px;
          height: 18px;
          @include mobile-lg {
            width: 22px;
            height: 22px;
            margin-left: 10px;
          }
          @include large-desktops {
            width: 26px;
            height: 26px;
            margin-left: 15px;
          }
        }
        p {
          padding-top: 8px;
          padding-left: 8px;
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: 0px;
          text-align: left;
          @include mobile-lg {
            font-size: 14px;
            line-height: 16.94px;
            padding-right: 10px;
          }
          @include large-desktops {
            font-size: 20px;
            line-height: 24.2px;
            margin-right: 20px;
            padding-top: 5px;
          }
        }
        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}

hr {
  border: 1px dashed #e2e2e2;
}
// news section

.news__sections {
  margin-top: 48px;
  @include mobile-lg {
    margin-top: 80px;
  }
  @include large-desktops {
    margin-top: 150px;
  }
  .content-title {
    width: 280px;
    height: 92px;
    margin: auto;
    @include mobile-lg {
      width: 329px;
      height: 54px;
    }
    @include large-desktops {
      width: 465px;
      height: 64px;
    }
    h2 {
      font-family: Libre Baskerville;
      font-size: 34px;
      font-style: normal;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 0.591304361820221px;
      text-align: center;
      @include mobile-lg {
        font-size: 36px;
        line-height: 54px;
      }
      @include large-desktops {
        font-size: 52px;
        line-height: 64.48px;
      }
    }
  }
  .content-body {
    width: 280px;
    height: 46px;
    margin: auto;
    color: $body-text-color;
    @include mobile-lg {
      width: 515px;
      height: 26px;
      margin-bottom: 42px;
    }
    @include large-desktops {
      width: 676px;
      height: 30px;
      margin-top: 44px;
    }
    p {
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0px;
      text-align: center;
      @include mobile-lg {
        font-size: $p;
        line-height: 26px;
      }
      @include large-desktops {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  .press__partners {
    margin: auto;
    margin-top: 27px;
    @include large-desktops {
      width: 1200px;
    }
    .press {
      margin: auto;
      padding-left: 18px;
      padding-bottom: 18px;
      @include mobile-lg {
        padding-left: 25px;
        padding-right: 25px;
      }
      img {
        width: 130.44px;
        height: 74.54px;
        @include mobile-lg {
          width: 212.43px;
          height: 121.39px;
        }
        @include large-desktops {
          width: 350px;
          height: 200px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
