.contact-page {
  margin-top: 57px;
  .header__section {
    .sub_header-title {
      h6 {
        font-family: $body-base-font;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 1.3333333730697632px;
        text-align: center;
        color: #b3b1b7;
      }
    }
    .header-title {
      margin-top: 22px;
      height: 46px;
      h5 {
        font-family: $theme-base-font;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0.591304361820221px;
        text-align: center;
      }
    }
    .header-body {
      margin-top: 16px;
      p {
        font-family: $body-base-font;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: center;
        color: #64626a;
      }
    }
    .header-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 22px;
      gap: 14px;
      .btn_light-orange {
        width: 140px;
        height: 58px;
        border: 1px solid #ff6846;
        background: #fff;
        border-radius: 10px;
        color: #ff6846;
        .bold {
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 15px;
          letter-spacing: 0.15000000596046448px;
          text-align: left;
        }
        &:hover {
          color: #fff;
          background: #ff6846;
          border-radius: 10px;
        }
      }
    }
  }

  // contact form
  .contact-form_sec {
    width: 280px;
    background-color: #fff;
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin: auto;
    padding: 16px;
    margin-top: 40px;
    .form_sec-title {
      h6 {
        font-family: $body-base-font;
        font-weight: 600px;
        font-size: 18px;
        line-height: 21.78px;
        color: #000;
      }
    }
    .form_sec-body {
      width: 233px;
      height: 60px;
      p {
        font-family: $body-base-font;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        color: #64626a;
      }
    }
    form {
      .form-group {
        margin-top: 28px;
        label {
          font-family: $body-base-font;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: 0.10000000149011612px;
          text-align: left;
          color: #000;
        }
        input {
          background: #ffffff;
          border: 1px solid #d1d0d6;
          border-radius: 10px;
          margin-bottom: 22px;
          height: 55px;
        }
        .nice-select {
          background: #ffffff;
          border: 1px solid #d1d0d6;
          border-radius: 10px;
          width: 248px;
          height: 55px;
          margin-bottom: 22px;
          .current {
            font-family: $body-base-font;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0.10000000149011612px;
            text-align: left;
          }
        }
        textarea {
          border: 1px solid #d1d0d6;
          border-radius: 10px;
          margin-bottom: 24px;
        }
        .btn-sumbit {
          width: 248px;
          height: 41px;
          color: #fff;
          background: #ff6846;
          border: 1px solid #ff6846;
          border-radius: 10px;
        }
      }
    }
  }

  // top branding
  .branding__section {
    .branding_list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .brand {
        img {
          width: 85px;
        }
      }
    }
  }
}

.topic__section {
  .topic-title {
    width: 280px;
    height: 92px;
    margin: auto;
    margin-top: 65px;
    h4 {
      font-family: $theme-base-font;
      font-size: 34px;
      font-style: normal;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 0.591304361820221px;
      text-align: center;
    }
  }
  .topic-items {
    margin-top: 28px;
    .item {
      width: 280px;
      height: 50px;
      background: #ffffff;
      border: 1px solid #d1d0d6;
      border-radius: 12px;
      margin: auto;
      margin-bottom: 12px;
      padding-left: 22px;
      padding-top: 12px;
      display: flex;
      gap: 18px;
      justify-content: flex-start;
      .icon {
        img {
          width: 24px;
          height: 24px;
        }
      }
      .icon-title {
        h6 {
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: 0px;
          text-align: left;
        }
      }
      &:hover {
        color: #ff6846;
        border: 2px solid #ff6846;
        &::after {
          content: ">";
          position: relative;
          font-weight: bold;
          left: 5px;
          top: -3px;
        }
      }
    }
  }
}

// office address
.office__section {
  margin-top: 64px;
  .office__section-title {
    width: 280px;
    height: 46px;
    margin: auto;
    h3 {
      font-family: $theme-base-font;
      font-size: 34px;
      font-style: normal;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 0.591304361820221px;
      text-align: center;
    }
  }
  .office__section-body {
    width: 280px;
    height: 46px;
    margin: auto;
    margin-top: 16px;
    p {
      font-family: $body-base-font;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0px;
      text-align: center;
      color: #64626a;
    }
  }
  .card-items {
    margin-top: 28px;
    .card {
      width: 280px;
      border: 1px solid #64626a !important;
      border-radius: 20px;
      margin: auto;
      margin-bottom: 32px;
      .card-body {
        .card-title {
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: left;
          color: #3b3a40;
        }
        .card-text {
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: left;
          color: #64626a;
        }
        .orange-highlight {
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 17px;
          letter-spacing: 0px;
          text-align: left;
          color: #ff6846;
          &::after{
            content: ">";
            position: relative;
            font-weight: bold;
            left: 5%;
            top: 0.8px;
          }
        }
      }
    }
  }
}
