.contact_page {
  width: 100%;
  background: linear-gradient(to bottom, $contact-bg-color 27%, $bg-color 0%);
  @include mobile-lg {
    background: linear-gradient(to bottom, $contact-bg-color 17%, $bg-color 0%);
  }
  @include large-desktops {
    background: linear-gradient(to bottom, $contact-bg-color 27%, $bg-color 0%);
  }
}
.contact-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 320px;
  padding-top: 62px;
  @include mobile-lg {
    width: 680px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 87px;
  }
  @include tablet {
    width: 46.875em;
  }
  @include large-desktops {
    padding-top: 136px;
    width: 71.25em;
    height: 39.125em;
    gap: 10px;
  }
  @include large-desktops-mid {
    width: 90.625em;
  }
  .header__section {
    .sub_header-title {
      h6 {
        font-family: $body-base-font;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 1.3333333730697632px;
        text-align: center;
        color: $light-body-text;
        @include mobile-lg {
          font-size: 12px;
          line-height: 14.52px;
          text-align: left;
          margin-left: 35px;
        }
        @include large-desktops {
          font-size: 18px;
          line-height: 21.78px;
          margin-left: 0px;
        }
        @include large-desktops-mid {
          margin-left: 150px;
        }
      }
    }
    .header-title {
      margin-top: 22px;
      height: 46px;
      @include mobile-lg {
        width: 250px;
        height: 60px;
      }
      @include large-desktops {
        width: 308px;
        margin-left: 0px;
      }
      @include large-desktops-mid {
        margin-left: 150px;
      }
      h5 {
        font-family: $theme-base-font;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0.591304361820221px;
        text-align: center;
        @include mobile-lg {
          text-align: left;
          font-size: 48px;
          line-height: 59.52px;
        }
        @include large-desktops {
          font-size: 60px;
          line-height: 74.4px;
        }
      }
    }
    .header-body {
      margin-top: 16px;
      margin-bottom: 24px;
      width: 280px;
      height: 92px;
      @include mobile-lg {
        width: 301px;
        height: 96px;
        margin-left: 35px;
      }
      @include large-desktops {
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 48px;
        width: 480px;
      }
      @include large-desktops-mid {
        margin-left: 150px;
      }
      p {
        font-family: $body-base-font;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: center;
        color: $body-text-color;
        @include mobile-lg {
          text-align: left;
          font-size: 14px;
        }
        @include large-desktops {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    .header-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 22px;
      gap: 14px;
      @include large-desktops {
        margin-left: 0px;
        gap: 30px;
      }
      @include large-desktops-mid {
        margin-left: 70px;
      }
      .btn_light-orange {
        width: 140px;
        height: 58px;
        border: 1px solid $theme-color;
        background: $bg-color;
        border-radius: 10px;
        color: $theme-color;
        @include large-desktops {
          width: 180px;
          height: 74px;
        }
        .bold {
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 15px;
          letter-spacing: 0.15000000596046448px;
          text-align: left;
        }
        &:hover {
          color: $bg-color;
          background: $theme-color;
          border-radius: 10px;
        }
      }
    }
  }

  // contact form
  .contact-form_sec {
    position: relative;
    z-index: 999;
    width: 280px;
    background-color: $bg-color;
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin: 0 auto;
    padding: 16px;
    margin-top: 40px;
    @include mobile-lg {
      margin-top: 0;
      width: 347px;
    }
    @include large-desktops {
      width: 487px;
    }
    .form_sec-title {
      h6 {
        font-family: $body-base-font;
        font-weight: 600px;
        font-size: 18px;
        line-height: 21.78px;
        color: $title-color;
        @include mobile-lg {
          font-size: 22px;
          line-height: 26.62px;
        }
        @include large-desktops {
          font-size: 28px;
          line-height: 33.89px;
        }
      }
    }
    .form_sec-body {
      width: 233px;
      height: 60px;
      margin-bottom: 28px;
      @include mobile-lg {
        width: 299px;
        height: 42px;
      }
      @include large-desktops {
        width: 400px;
        height: 60px;
      }
      p {
        font-family: $body-base-font;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        color: $body-text-color;
        @include large-desktops {
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
    form {
      .form-row {
        display: flex;
        @include mobile-lg {
          flex-direction: column;
        }
        @include mobile-lg {
          flex-direction: row;
          gap: 19px;
        }
        @include large-desktops {
          flex-direction: row;
          gap: 19px;
        }
        .form-group {
          input {
            @include mobile-lg {
              width: 144px;
              height: 39px;
            }
            @include large-desktops {
              width: 204px;
              height: 52px;
            }
          }
          @include large-desktops {
            margin-top: 24px;
          }
        }
      }
      .form-group {
        @include mobile-lg {
          margin-top: 0px;
        }
        @include large-desktops {
          margin-top: 0px;
        }
        label {
          font-family: $body-base-font;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: 0.10000000149011612px;
          text-align: left;
          color: $title-color;
          @include large-desktops {
            font-size: 16px;
            line-height: 19.36px;
          }
        }
        input {
          background: $bg-color;
          border: 1px solid $body-text-color;
          border-radius: 10px;
          margin-bottom: 22px;
          width: 248px;
          height: 39px;
        }
        .nice-select {
          background: $bg-color;
          border: 1px solid $body-text-color;
          border-radius: 10px;
          width: 248px;
          height: 55px;
          margin-bottom: 22px;
          @include mobile-lg {
            width: 305px;
          }
          @include large-desktops {
            width: 427px;
            height: 52px;
          }
          .current {
            font-family: $body-base-font;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0.10000000149011612px;
            text-align: left;
          }
        }
        textarea {
          border: 1px solid $body-text-color;
          border-radius: 10px;
          margin-bottom: 24px;
          width: 248px;
          @include mobile-lg {
            width: 305px;
          }
          @include large-desktops {
            width: 427px;
          }
        }
        .btn-sumbit {
          width: 248px;
          height: 41px;
          color: $bg-color;
          background: $theme-color;
          border: 1px solid $theme-color;
          border-radius: 10px;
          @include mobile-lg {
            width: 305px;
            height: 50px;
          }
          @include large-desktops {
            width: 427px;
            height: 56px;
          }
        }
      }
    }
  }
  .contact-graph-img {
    img {
      position: absolute;
      display: none;
      @include large-desktops {
        display: block;
        width: 20.0625em;
        height: 21.25em;
        right: 7%;
        top: 350px;
      }
      @include large-desktops-mid {
        right: 10%;
      }
    }
  }

  // top branding
  .branding__section {
    .branding_list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      @include mobile-lg {
        position: relative;
        top: -234px;
        left: -18px;
      }
      @include large-desktops {
        top: -180px;
        left: 18px;
      }
      @include large-desktops-mid {
        left: 104px;
      }
      .brand {
        img {
          width: 85px;
          @include large-desktops-mid {
            width: 146px;
          }
        }
      }
    }
  }
}

.topic__section {
  margin: 0 auto;
  width: 320px;
  @include mobile-lg {
    width: 680px;
  }
  @include tablet {
    width: 46.875emem;
  }
  @include large-desktops {
    width: 71.25em;
  }
  @include large-desktops-mid {
    width: 90.625em;
  }
  .topic-title {
    width: 280px;
    height: 92px;
    margin: auto;
    margin-top: 65px;
    @include mobile-lg {
      width: 480px;
      height: 60px;
    }
    @include large-desktops {
      width: 587px;
      margin-top: 176px;
    }
    h4 {
      font-family: $theme-base-font;
      font-size: 34px;
      font-style: normal;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 0.591304361820221px;
      text-align: center;
      @include mobile-lg {
        font-size: 48px;
        line-height: 59.52px;
      }
      @include large-desktops {
        font-size: 60px;
        line-height: 74.4px;
      }
    }
  }
  .topic-items {
    margin: auto;
    margin-top: 28px;
    @include mobile-lg {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 40px;
    }
    @include large-desktops {
      margin-top: 64px;
      gap: 45px;
      width: 1140px;
    }
    .item {
      width: 280px;
      height: 50px;
      background: $bg-color;
      border: 1px solid $body-text-color;
      border-radius: 12px;
      margin: auto;
      margin-bottom: 12px;
      padding-left: 22px;
      padding-top: 12px;
      display: flex;
      gap: 18px;
      justify-content: flex-start;
      @include mobile-lg {
        width: 320px;
      }
      @include large-desktops {
        padding-top: 28px;
        padding-left: 30px;
        width: 350px;
        height: 80px;
      }
      .icon {
        img {
          width: 24px;
          height: 24px;
          @include large-desktops {
            width: 26px;
            height: 26px;
          }
        }
      }
      .icon-title {
        h6 {
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: 0px;
          text-align: left;
          @include mobile-lg {
            font-size: 18px;
          }
        }
      }
      &:hover {
        color: $theme-color;
        border: 2px solid $theme-color;
        &::after {
          content: ">";
          position: relative;
          font-weight: bold;
          left: 5px;
          top: -3px;
        }
      }
    }
  }
}

// office address
.office__section {
  margin: 0 auto;
  margin-top: 64px;
  width: 320px;
  @include mobile-lg {
    width: 680px;
  }
  @include tablet {
    width: 46.875emem;
  }
  @include large-desktops {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 71.25em;
    margin: auto;
    margin-top: 180px;
  }
  @include large-desktops-mid {
    width: 90.625em;
  }
  .office__section-title {
    width: 280px;
    height: 46px;
    margin: auto;
    @include mobile-lg {
      width: 300px;
    }
    @include large-desktops {
      width: 353px;
    }
    h3 {
      font-family: $theme-base-font;
      font-size: 34px;
      font-style: normal;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 0.591304361820221px;
      text-align: center;
      @include mobile-lg {
        font-size: 48px;
        line-height: 59.52px;
      }
      @include large-desktops {
        font-size: 60px;
        line-height: 74.4px;
      }
    }
  }
  .office__section-body {
    width: 280px;
    height: 46px;
    margin: auto;
    margin-top: 16px;
    @include mobile-lg {
      width: 500px;
    }
    @include large-desktops {
      width: 420px;
    }
    p {
      font-family: $body-base-font;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0px;
      text-align: center;
      color: $body-text-color;
      @include mobile-lg {
        font-size: 18px;
        line-height: 28px;
      }
      @include large-desktops {
        font-size: 20px;
        line-height: 30px;
        text-align: left;
      }
    }
  }
  .card-items {
    margin-top: 28px;
    @include large-desktops {
      margin: auto;
      width: 1150px;
      margin-top: 80px;
      display: flex;
      flex-direction: row;
      gap: 60px;
    }
    .card {
      width: 280px;
      border: 1px solid $body-text-color !important;
      border-radius: 20px;
      margin: auto;
      margin-bottom: 32px;
      @include mobile-lg {
        width: 680px;
      }
      @include large-desktops {
        width: 500px;
      }
      .card-body {
        .card-title {
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: left;
          color: $light-body-text;
          @include mobile-lg {
            font-size: 22px;
            line-height: 26.22px;
          }
        }
        .card-text {
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: left;
          color: $body-text-color;
          @include mobile-lg {
            font-size: 18px;
            line-height: 28px;
          }
        }
        .orange-highlight {
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 17px;
          letter-spacing: 0px;
          text-align: left;
          color: $theme-color;
          &::after {
            content: ">";
            position: relative;
            font-weight: bold;
            left: 5%;
            top: 0.8px;
          }
        }
      }
    }
  }
}
