.download-img__section {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  margin-top: 80px;
  @include large-desktops-mid {
    margin-top: 100px;
    width: 71.25em;
  }
  .left-side-graph-img {
    img {
      position: relative;
      width: 193.7px;
      left: 93.3%;
      top: 22px;
      @include mobile-lg {
        width: 493.86px;
        left: 91%;
        top: 7%;
      }
      @include large-desktops {
        align-self: center;
        width: 585px;
        left: 84%;
        top: 7%;
      }
      @include large-desktops-mid {
        width: 767px;
        left: 84%;
        top: 3%;
      }
    }
  }
  .download-img {
    img {
      position: relative;
      z-index: 1;
      width: 280px;
      @include mobile-lg {
        width: 668px;
      }
      @include large-desktops {
        width: 780px;
      }
      @include large-desktops-mid {
        width: 948px;
      }
    }
  }
  .right-side-graph-img {
    img {
      position: relative;
      width: 200.22px;
      right: 90%;
      top: 22%;
      @include mobile-lg {
        width: 477.76px;
        right: 92%;
        top: 27%;
      }

      @include large-desktops {
        align-self: center;
        width: 585px;
        right: 88%;
        top: 21%;
      }
      @include large-desktops-mid {
        width: 742px;
        right: 88%;
        top: 18%;
      }
    }
  }
}

.download_section {
  background: linear-gradient(to bottom, #fff6f4 85%, #fff 15%);
  padding-top: 80px;
  @include large-desktops {
    background: linear-gradient(to bottom, #fff6f4 77%, #fff 27%);
    padding-top: 136px;
  }
  @include large-desktops-mid {
    background: linear-gradient(to bottom, $dwn-bg-color 70%, #fff 30%);
  }
}
.header__section {
  .header-title {
    width: 280px;
    height: 92px;
    // padding-top: 22px;
    @include mobile-lg {
      width: 500px;
      height: 60px;
      // padding-top: 80px;
    }
    @include large-desktops {
      width: 580px;
      height: 74px;
    }
    h5 {
      font-family: $theme-base-font;
      font-size: 34px;
      font-style: normal;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 0.591304361820221px;
      text-align: center;
      @include mobile-lg {
        font-size: 48px;
        line-height: 59.52px;
      }
      @include large-desktops {
        font-size: 60px;
        line-height: 74.4px;
      }
    }
  }
  .header-body {
    width: 280px;
    height: 69px;
    margin: auto;
    margin-top: 16px;
    @include mobile-lg {
      width: 361px;
      height: 48px;
    }
    @include large-desktops {
      width: 627px;
      height: 60px;
    }
    p {
      font-family: $body-base-font;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0px;
      text-align: center;
      color: $body-text-color;
      @include mobile-lg {
        font-size: 14px;
        line-height: 24px;
      }
      @include large-desktops {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  .header-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 22px;
    gap: 14px;
    @include mobile-lg {
      margin-top: 38px;
      gap: 20px;
    }
    @include large-desktops {
      margin-top: 48px;
      gap: 36px;
    }
    .btn_light-orange {
      width: 140px;
      height: 58px;
      border: 1px solid $theme-color;
      background: #fff;
      border-radius: 10px;
      color: $theme-color;
      @include mobile-lg {
        width: 196px;
        height: 52px;
      }
      @include large-desktops {
        width: 200px;
        height: 60px;
      }
      &:hover {
        color: #fff;
        background: $theme-color;
        border-radius: 10px;
      }
    }
  }
  .header-img {
    position: relative;
    z-index: 999;
    width: 300px;
    margin: auto;
    margin-top: 36px;
    @include mobile-lg {
      width: 668px;
    }
    @include large-desktops {
      width: 1020px;
    }
  }
}

// feature list
.feature-list {
  margin-top: 30.51px;
  @include large-desktops {
    margin-top: 80px;
  }
  .list-item {
    width: 280px;
    text-align: center;
    margin: auto;
    @include mobile-lg {
      width: 650px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 26px;
      margin: auto;
    }
    @include large-desktops {
      width: 850px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 49px;
      margin: auto;
    }
    input[type="radio"] {
      @include large-desktops {
        box-sizing: border-box;
        padding: 0;
        width: 16px;
        height: 16px;
        border: 3px solid $theme-color;
      }
    }
    label {
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: 0.17499999701976776px;
      text-align: left;
      margin-bottom: 12px;
      @include mobile-lg {
        font-size: 16px;
        line-height: 19.36px;
      }
      @include large-desktops {
        font-size: 20px;
        line-height: 24.2px;
      }
    }
  }
}

// guiding section
.guiding-section {
  margin-top: 56px;
  .guiding-title {
    width: 280px;
    height: 92px;
    margin: auto;
    @include mobile-lg {
      width: 600px;
      height: 60px;
    }
    @include large-desktops {
      margin-top: 180px;
      width: 590px;
      height: 60px;
    }
    h4 {
      font-family: Libre Baskerville;
      font-size: 34px;
      font-style: normal;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 0.591304361820221px;
      text-align: center;
      @include mobile-lg {
        font-size: 48px;
        line-height: 59.52px;
      }
      @include large-desktops {
        font-size: 48px;
        line-height: 59.52px;
      }
    }
  }
  .guiding-items {
    margin-top: 38px;
    @include mobile-lg {
      width: 800px;
      margin: auto;
      display: flex;
      gap: 66px;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 67px;
    }
    @include large-desktops {
      width: 1200px;
      margin: auto;
      display: flex;
      gap: 98px;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 67px;
    }
    .item {
      margin-bottom: 57px;
      .icon {
        width: 40px;
        height: 40px;
        margin: auto;
      }
      .item-title {
        width: 183px;
        height: 19px;
        margin: auto;
        margin-top: 23px;
        @include mobile-lg {
          width: 210px;
        }
        @include large-desktops {
          width: 251px;
          height: 27px;
        }
        h6 {
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: 0px;
          text-align: center;
          @include mobile-lg {
            font-size: 18px;
            line-height: 21.78px;
          }
          @include large-desktops {
            font-size: 22px;
            line-height: 26.62px;
          }
        }
      }
      .item-body {
        margin-top: 31px;
        .item-text {
          width: 280px;
          height: 110px;
          margin: auto;
          margin-top: 9px;
          @include large-desktops {
            width: 457px;
            height: 78px;
          }
          p {
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: center;
            @include large-desktops {
              font-size: 16px;
              line-height: 26px;
            }
          }
        }
        .item-footer-text {
          width: 139px;
          height: 18px;
          font-family: Inter;
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: 0px;
          text-align: center;
          margin: auto;
          margin-top: 20px;
          color: $theme-color;
          @include large-desktops {
            font-size: 18px;
            line-height: 21.78px;
            width: 200px;
          }
          &:hover::after {
            content: "\003E";
          }
        }
      }
    }
  }
}

// alternative download option
.alternative-download__section {
  width: 280px;
  background: $enterprise-color;
  border-radius: 12px;
  padding: 19px;
  margin: auto;
  @include mobile-lg {
    width: 668px;
    height: 224px;
  }
  @include large-desktops {
    margin-top: 159px;
    width: 1140px;
    height: 238px;
    padding-left: 68px;
    padding-top: 60px;
  }
  .download__section {
    @include mobile-lg {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @include large-desktops {
      flex-direction: row;
      gap: 75px;
    }
    .download__content {
      .download-title {
        width: 269px;
        height: 24px;
        @include mobile-lg {
          margin: auto;
          width: 300px;
          height: 27px;
          margin-top: 20px;
        }
        @include large-desktops {
          margin: 0;
          width: 382px;
          height: 42px;
        }
        h3 {
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: center;
          @include mobile-lg {
            font-size: 22px;
            line-height: 26.62px;
          }
          @include large-desktops {
            font-size: 30px;
            line-height: 42px;
            text-align: left;
          }
        }
      }
      .download-body-text {
        width: 240px;
        height: 66px;
        @include mobile-lg {
          margin: auto;
          width: 360px;
          height: 40px;
          margin-bottom: 35px;
        }
        @include large-desktops {
          width: 463px;
          height: 60px;
        }
        p {
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: center;
          margin-top: 11px;
          @include mobile-lg {
            font-size: 14px;
            line-height: 20px;
          }
          @include large-desktops {
            font-size: 18px;
            line-height: 30px;
            text-align: left;
          }
        }
      }
    }
    .download-button {
      display: flex;
      margin-top: 22px;
      @include mobile-lg {
        margin: auto;
        gap: 15px;
      }
      @include large-desktops {
        flex-direction: row;
        gap: 24px;
      }
      input {
        width: 160px;
        height: 42px;
        border: 1px solid #8e8c95;
        border-radius: 8px 0px 0px 8px;
        @include mobile-lg {
          width: 272px;
          height: 48px;
          border-radius: 8px;
        }
        @include large-desktops {
          width: 272px;
          height: 60px;
          background: #ffffff;
          mix-blend-mode: normal;
          opacity: 0.48;
          border: 1px solid #8e8c95;
          border-radius: 8px;
        }
      }
      input[type="email" i] {
        padding: 10px 40px;
      }
      button {
        width: 92px;
        height: 42px;
        background: $theme-color;
        border-radius: 0px 8px 8px 0px;
        color: #fff;
        font-size: 12px;
        line-height: 14.52px;
        @include mobile-lg {
          width: 124px;
          height: 48px;
          border-radius: 8px;
          font-size: 14px;
          line-height: 16.94px;
        }
        @include large-desktops {
          width: 170px;
          height: 60px;
          background: $theme-color;
          border-radius: 8px;
          font-size: 16px;
          line-height: 19.36px;
        }
      }
    }
  }
}
