.deco {
  text-decoration: underline;
  color: #ff6846;
}

.faq__section {
  @include desktops {
    margin-top: 180px;
  }
  .content-section {
    margin-top: 72px;
    .content-title {
      width: 280px;
      height: 92px;
      margin: auto;
      @include tablet {
        width: 390px;
        height: 136px;
      }
      h2 {
        font-family: $theme-base-font;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0.591304361820221px;
        text-align: center;
        @include tablet {
          font-size: 48px;
          line-height: 68px;
        }
        @include desktops {
          text-align: left;
        }
      }
    }
    .content-body {
      width: 298px;
      height: 44px;
      margin: auto;
      margin-top: 12px;
      @include tablet {
        width: 368px;
        height: 56px;
      }
      @include desktops {
        width: 390px;
        height: 96px;
      }
      p {
        text-align: center;
        @include tablet {
          font-size: 18px;
          line-height: 28px;
        }
        @include desktops {
          font-size: 20px;
          line-height: 32px;
          text-align: left;
        }
      }
    }
  }
  .question__section {
    margin-top: 20px;
    .question-item {
      .question {
        @include tablet {
          width: 673px;
        }
        .collapsible {
          font-family: $body-base-font;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: 23px;
          letter-spacing: 0px;
          text-align: left;
          background: #ffffff;
          box-shadow: inset 0px -1px 0px rgba(219, 219, 219, 0.5);
          width: 280px;
          height: 124px;
          border: none;
          color: #3b3a40;
          @include tablet {
            width: 408px;
            font-size: 18px;
            line-height: 28px;
          }
          @include desktops{
            font-size: 20px;
            line-height: 30px;
          }
        }
        .active,
        .collapsible:hover {
          background: #ffffff;
          box-shadow: inset 0px -1px 0px rgba(219, 219, 219, 0.5);
          width: 280px;
          height: 124px;
          border: none;
          color: #ff6846;
          @include tablet {
            width: 408px;
          }
        }
        .collapsible:after {
          content: "\002B";
          position: relative;
          left: 19px;
          top: -24px;
          color: #3b3a40;
          font-weight: bold;
          float: right;
          margin-left: 5px;
          @include tablet {
            left: 100px;
          }
        }

        .active:after {
          content: "\2212";
          color: #ff6846;
        }
        .content {
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: #64626a;
          background: #ffffff;
          width: 280px;
          height: 144px;
          margin: auto;
          text-align: left;
          @include tablet {
            width: 408px;
          }
        }
      }
    }
  }
}
