// leading brands section
.leading__sections-pricing {
  margin-top: 84px;
  @include large-desktops {
    margin: auto;
    margin-top: 180px;
    width: 1250px;
  }
  .leading-title {
    width: 280px;
    height: 52px;
    margin: auto;
    margin-bottom: 35px;
    @include mobile-lg {
      width: 436px;
      height: 22px;
    }
    @include large-desktops {
      width: 436px;
      height: 22px;
    }
    h3 {
      font-family: $body-base-font;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0.18000000715255737px;
      text-align: center;
      color: #3b3a40;
      @include mobile-lg {
        font-size: 18px;
        line-height: 21.78px;
      }
      @include large-desktops {
        font-size: 18px;
        line-height: 21.78px;
      }
    }
  }
}

// table section
.table__plan-section {
  .plan-title {
    width: 280px;
    height: 92px;
    margin: auto;
    margin-top: 56px;
    margin-bottom: 32px;
    @include mobile-lg {
      width: 588px;
      height: 60px;
      margin-top: 150px;
    }
    h4 {
      font-family: $theme-base-font;
      font-size: $h4;
      font-style: normal;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 0.591304361820221px;
      text-align: center;
      @include mobile-lg {
        font-size: 48px;
        line-height: 59.52px;
      }
    }
  }
}

.red-tick {
  color: $theme-color;
  font-weight: bold;
}
.table__structure {
  @include mobile-lg {
    width: 698px;
    margin: auto;
  }
  @include large-desktops {
    width: 1140px;
    margin-top: 80px;
  }
  
  .table {
    margin-bottom: 32px;
    @include mobile-lg {
      margin-bottom: 48px;
    }
    thead {
      background: $enterprise-color;
      box-shadow: inset 0px -1px 0px rgba(219, 219, 219, 0.5);
      border-top: none !important;
      tr {
        th {
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: 0px;
          text-align: left;
          color: #8e8c95;
        }
      }
    }
    tbody {
      tr {
        th,
        td {
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0px;
          text-align: left;
        }
      }
    }
  }
}


